[2021-03-02 20:38] majochoc opened #1 "[Not an Issue]"
So interesting that you just started this repository. I've been following along with locast2plex, locast2dvr, etc and I'm currently learning Rust and thought a port of locast2dvr to Rust would be fun. I'll be following along on your journey as I complete my own.

Mostly, I was looking at a Rust binary hoping to gain some performance over Python. I'm running locast2plex on a RPi4 and there is lag f

[2021-03-19 15:20] #1 closed

[2021-04-05 06:23] Croq360 opened #2 "Issue with EPG?"
I got things running with this version, but found that only 3 channels in my Plex listings had guide information.  So, then I loaded up the epg.xml page, and got this error:

This page contains the following errors:
error on line 3 at column 657089: xmlParseEntityRef: no name
Below is a rendering of the page up to the first error.

However, if I right click on the page and save it, I can't find th

[2021-04-05 11:57] wouterdebie commented on #2
Thanks for testing! Mind sending me your config so I can try to reproduce?

On Mon, Apr 5, 2021, 01:23 Croq360 ***@***.***> wrote:

[2021-04-05 16:32] Croq360 commented on #2
Sure, I'll send it to you over on our Emby chat.

[2021-04-05 17:04] Croq360 commented on #2
In further investigating, it appears that this entry in one of the programs may be responsible for the error.

        <actor>Dailey & Vincent</actor>

Note the stand alone "&".  That should be "&amp;".

[2021-04-05 17:05] Croq360 opened #3 "Program Guide Load Slower"
I've noticed that the program guide information that processes during initially running Locast2Tuner runs quite a bit slower (2x to 3x slower) than when I run Locast2Dvr.

[2021-04-05 17:06] eiddor opened #4 "thread panic when running"
Testing this on a fresh Ubuntu 20.04 VM - Locast subscription current, Rust installed successfully, and locast2tuner built successfully, but I'm getting the following when trying to run it:

[code]

[2021-04-05 17:19] wouterdebie commented on #4
Ha, interesting! It seems SSL on ubuntu doesn't like fcc.gov. I'll have a look into this. I have some workaround for this in locast2dvr, but didn't see it happen in Rust. That said, I haven't tried locast2tuner on ubuntu yet.
Thanks for the bug report!

[2021-04-05 17:20] wouterdebie commented on #3
Can you elaborate where the slowness happens? Processing in locast2tuner or
in Plex/Emby?

On Mon, Apr 5, 2021 at 12:06 PM Croq360 ***@***.***> wrote:

[2021-04-05 17:20] eiddor commented on #4
Excellent - Doing a few minor edits to `README.md` in the meantime, PR soon.

[2021-04-05 17:27] Croq360 commented on #3
Processing in locast2tuner, right after it does the facilities info.

It takes 9 seconds to load my Phoenix channels in locast2tuner, but only about 2 seconds in locast2dvr.

[2021-04-05 17:28] #2 closed

[2021-04-05 17:35] wouterdebie commented on #3
I see there is somewhat of a difference, but I'm not seeing the 9 vs 2 secs:

Without remap:
[code]

With remap:
[code]

[2021-04-05 17:36] wouterdebie commented on #3
That said, I should probably move to the async client for loading as well

[2021-04-05 17:46] Croq360 commented on #3
As long as it doesn't interfere with my recordings, I don't really have a problem with it, just something I noticed.

[2021-04-05 21:14] #4 closed

[2021-04-05 21:16] wouterdebie opened #6 "Add more documentation"
This project could use some more code and user documentation

[2021-04-05 21:17] wouterdebie opened #7 "Packages for MacOS, Ubuntu, Windows and Docker"
We should have binary packages built for MacOS, Ubuntu and Docker.

[2021-04-05 21:18] wouterdebie opened #8 "Daemon scripts"
Related to #7, we should have some scripts that allow for running as a daemon

[2021-04-05 21:19] wouterdebie opened #9 "Tests"
We need more unit and integration tests

[2021-04-05 21:19] wouterdebie opened #10 "Upgrade mechanism"
Pretty much related to #7 , it'd be nice to have an upgrade mechanism for binaries.

[2021-04-05 21:21] wouterdebie opened #11 "Idiomatic Rust, improve code quality"
I'm pretty new to coding in Rust and there are probably places where the code could be more idiomatic and in general better.

[2021-04-05 21:21] wouterdebie opened #12 "Add --logfile"
Currently locast2tuner only logs to stdout and it would be nice to be able to specify `--logfile` (as locast2dvr has) to log in a specific location as well.

[2021-04-05 21:23] wouterdebie opened #13 "Add --override_location"
Tbh, I'm on the fence about this. locast2dvr has the option to override a specific  geographical location (lat/lon), but I assume locations are mostly overridden by zip codes. Is this feature necessary?

[2021-04-05 21:26] wouterdebie opened #14 "Move to a purely async http client"
Currently both a sync (blocking) and an async (non-blocking) HTTP client is used, but we should be able to consolidate this. The reason for this currently is that all the setup happens on the main thread when starting the application and only when starting `actix-web`, we jump into an async world. It'd probably be nice to start in an async world from the beginning, but that would require some plum

[2021-04-05 21:27] wouterdebie opened #15 "Improve error handling"
Error handling is pretty much all over the place. Code unwraps in many places without proper handling; sometimes we handle some results and in other places we blatantly panic. I'd be nice to have a clearer idea of how we want to handle errors.

[2021-04-05 21:28] eiddor commented on #4
Too easy (for me) - Thank you!  I've got my tuner and XMLTV guide in PMS in HDHomerun, but am getting a Playback Error.  I'll test in Emby and open a separate issue for it.

[2021-04-05 21:28] eiddor commented on #6
Once I can get this going in PMS and Emby, I'll add some more color and screenshots to the docs for the basics.

[2021-04-05 21:29] eiddor commented on #7
I should be able to work on a Docker version this coming weekend - Rust already has a base image that I think I can use.

[2021-04-05 21:47] eiddor opened #16 "Playback errors when binding to 0.0.0.0"
So, this is similar to the issue I had with locast2dvr - If I bind to `0.0.0.0`, I can get through the setup, get the XMLTV guide, etc.

But in PMS when I attempt to play a channel, I get this with no output on the console:

![image](https://user-images.githubusercontent.com/7586731/113629847-97890980-962c-11eb-9f43-c96b06c7c048.png)

Emby using M3U mode results in a spinning circle when I try to

[2021-04-05 22:20] wouterdebie commented on #16
Yeah, I see what you mean. What happens is that not only locast2tuner binds to 0.0.0.0, but also communicates this to PMS/Emby in the `/tuner.m3u` or `/lineup.json`, which is obviously not going to work. I might be able to reworks this by setting the IP address to the address the request was received on.

[2021-04-05 22:22] eiddor commented on #16
Oh heck, that makes perfect sense - I'm sure it was the same problem in locast2dvr, then.

Once that's fixed and I can test, I should be able to get things tested and work on the Dockerfile.  I just need to find where I left my locast2dvr stuff haha

[2021-04-05 22:23] eiddor commented on #6
Also need to document the config file format, which will come in handy for Docker.

[2021-04-05 22:33] eiddor commented on #16
Though, this may still be an issue in Docker since the container is behind a NAT.  Hmmm...I'll have to test it out when you get it going.

[2021-04-05 23:26] wouterdebie commented on #16
@eiddor yeah, it's the same issue with locast2dvr. I used the bind_address all over the place, but that was wrong. I just fixed it for the normal use case. I use the "Host:" http header, so that should work. It basically replies whatever the client sends, so that should work behind NAT as well.. I have one more fix to make and I'll let you know when that's done.

[2021-04-05 23:36] wouterdebie commented on #16
@eiddor this should work now.. I explicitly split by `:`, but that would break anything that runs on `:80` or `:443` and ipv6.

(so, bonus is that --bind_address ::1 works as well)

[2021-04-06 00:08] eiddor commented on #16
Nice!  I'll give it a test tonight.  Thanks for jumping on this so quickly.

[2021-04-06 00:55] Croq360 commented on #7
Yeah, getting this docker-ized would be great.  I wish I knew more about setting up a Windows installer, so I could help out in getting something put together for that.

[2021-04-06 00:58] eiddor commented on #16
Works like a charm in both PMS and Emby, @wouterdebie - Thank you!

[2021-04-06 00:58] #16 closed

[2021-04-06 01:08] eiddor commented on #7
The Docker version is going to be interesting - I could [build it](https://hub.docker.com/_/rust) realtime inside of a Rust image, but that would mean a 10 minute process anytime the container is created.

Looking at some other options now - A lot of this is new to me.

[2021-04-06 01:26] eiddor opened #17 "locast2tuner in Docker - WIP"
Forked from #7

The Docker version is going to be an interesting challenge for me - I could [build it](https://hub.docker.com/_/rust) realtime inside of a Rust image, but that would mean a 10 minute process anytime the container is created. There's also the problem of dynamically linked libraries:

[code]

Looking at some options now - A lot of this is new to me, so it'll be learning on the fly.

[2021-04-06 01:46] eiddor commented on #17
This project might be the answer for me: https://github.com/clux/muslrust

Sure enough!

[code]

I'll try throwing it into an alpine image next to see how it runs.

[2021-04-06 02:25] eiddor commented on #17
Wow - I did it (using the binary built above).

**Dockerfile**:

[code]
**Building**:

[code]

**Running**:

[code]

It freaking worked on both Plex and Emby.

**TODO**:

- Integrate config file into the Dockerfile
- Document the config file format and provide a sample
- Document how to run it in Docker with volume/port mapping
- Figure out how to package and distribute the binary (it's 150MB), an

[2021-04-06 11:43] wouterdebie commented on #17
Awesome! I'm working on Debian/Ubuntu packaging and using Github actions.
We can build everything there. We might want to consider using the .deb
file that will be built instead of a separate binary.

On Mon, Apr 5, 2021, 21:25 Roddie Hasan ***@***.***> wrote:

[2021-04-06 11:44] wouterdebie commented on #17
Another thing we might want to consider is having a reverse mount for the
config file, so people don't have to build their own image, but can just
download one from a registry.

On Tue, Apr 6, 2021, 06:42 Wouter de Bie ***@***.***> wrote:

[2021-04-06 11:46] wouterdebie commented on #7
I'm working on packaging. Rust has some really nice crates for doing so.
I'm starting with Ubuntu/Debian, but will also create a Windows installer
package.

On Mon, Apr 5, 2021, 20:08 Roddie Hasan ***@***.***> wrote:

[2021-04-06 11:47] wouterdebie commented on #16
Great! Thanks for testing!

On Mon, Apr 5, 2021, 19:58 Roddie Hasan ***@***.***> wrote:

[2021-04-06 15:15] eiddor commented on #17
config file, so people don't have to build their own image, but can just
download one from a registry.

I was actually talking about the config file for locast2tuner itself that would have the username/password etc.  I'd rather users didn't have to build their own image, as well.

We can build everything there. We might want to consider using the .deb
file that will be built instead of a separate

[2021-04-06 15:53] eiddor commented on #17
FYI, the binary built from the emk/rust-musl-builder package is only 18MB vs. 150MB from the one that I used initially.

The Travis CI/GitHub release stuff is way above my head as a non-developer, but I'm willing to learn it and try it out if you think this might be a good idea.

[2021-04-06 17:05] wouterdebie commented on #17
Yes, exactly. We can have a reverse mount that the image can use and where the config is stored. That way, people don't have to build their own.

Yeah, I found a bunch of examples in order to do that. I'm experimenting on the `cargo_deb` branch.

this is the difference between a debug and a release build. A lot of debug stuff is stripped away. The binary that I normally build is around 30 Mb, whil

[2021-04-06 17:15] eiddor commented on #17
Hmmm.. I _think_ we're saying the same thing here, but I'll let you figure out how you want to go with builds and then I'll Dockerize, test, and document the workflow.

In the meantime, I am thinking about cleaning up and adding my new Dockerfile to the main branch along with some rough instructions on how to use it.  It's got the rust-musl-builder stuff built-in and can get some advanced users st

[2021-04-06 22:41] eiddor commented on #17
Ok, I think it's ready to go - I haven't updated `README.md` yet, but will do that if you think this is worth the PR to allow users to use this in Docker until you're ready to go with the builds/packages.

https://github.com/eiddor/locast2tuner/tree/rough_docker

Basically the user has to do three things (to be documented):

1) Build the container image with: `docker build -t locast2tuner .`
2) Co

[2021-04-07 02:49] Croq360 opened #18 "Crashing and Unable to Tune Channels"
Ran locast2tuner and it started generating some errors.  I couldn't tune any channel once the errors started happening.  I had "backtrace" set to 1 for more details.  Sorry about no timestamps, but they weren't generated in the output.

Since the log has some personal info in it, I'll send it to you on Emby.

[2021-04-07 03:18] wouterdebie commented on #18
Thanks for this! I see where the error comes from. Once in a while
locast2tuner has to log in again to refresh the auth token and this happens
at startup in a synchronous way, but when running login is called from an
asynchronous context.

I think I'll have a solution soon.

On Tue, Apr 6, 2021, 21:49 Croq360 ***@***.***> wrote:

[2021-04-07 04:03] Croq360 commented on #18
Thanks for the update.  Using locast2dvr in the meantime.

[2021-04-07 19:18] detodotv opened #19 "sources.list empty"
hello, i am trying to install this using Ubuntu 18, but i have this error

E: Type '<!DOCTYPE' is not known on line 1 in source list /etc/apt/sources.list.d/locast2tuner.list
E: The list of sources could not be read.

this url is empty

https://wouterdebie.github.io/my_ppa/sources.list

any ideas?

thank you!

[2021-04-07 19:37] #19 closed

[2021-04-07 19:37] wouterdebie commented on #19
Oops, sorry. That should be "https://wouterdebie.github.io/ppa/sources.list
<https://wouterdebie.github.io/my_ppa/sources.list>". If fixed the readme.

On Wed, Apr 7, 2021 at 2:18 PM detodotv ***@***.***> wrote:

[2021-04-07 22:25] detodotv opened #20 "thread 'main' panicked"
Any ideas about this message starting locast2tuner?

021-04-07T22:23:41 [INFO] - Starting http server for Multiplexer on http://127.0.0.1:6077
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 98, kind: AddrInUse, message: "Address in use" }', src/http/mod.rs:83:14
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

[2021-04-07 22:27] detodotv commented on #20
found issue :)

[2021-04-07 22:27] #20 closed

[2021-04-07 22:29] detodotv opened #21 "Question"
sorry, new in github, i dont know how to post a question.

is possible to avoid the 4 streams limit with locast2tuner?

thank you!

[2021-04-07 23:47] wouterdebie commented on #21
What 4 streams limit?

[2021-04-07 23:48] wouterdebie commented on #18
This should be fixed now. Would you mind testing this?

[2021-04-07 23:50] wouterdebie opened #22 "Fix FCC Facilities updater"
Since the move to async, the FCC Facilities updater has been disabled, since there's an issue with calling `load()` from a different thread. Since having this functionality isn't super important, I disabled it, but it'd be nice to get working at some point.

[2021-04-08 01:25] TheSamDickey commented on #17
Would it be possible to have the dockerfile download straight from the github repo so that the user doesn't have to download it?  Also- there is a way for dockerhub to automatically build whenever there is an update on github, it'd be super cool if that worked too

[2021-04-08 01:28] eiddor commented on #17
@TheSamDickey I think an image on Docker hub where we want to end up eventually (unless @wouterdebie disagrees).

What I've got going right now is just sometime to tide Docker users over in the meantime.  I'm actually going to rewrite it tonight or tomorrow to build using the new packages that he's just released.  That way there's no downloading involved beyond the Dockerfile.

[2021-04-08 01:56] detodotv commented on #21
4 streams at same time, locast did not allow you to have more than 4 streams with one account opened at the same time

[2021-04-08 02:48] wouterdebie commented on #21
There is no restriction in locast2tuner, but locast might block you. Not
sure.

On Wed, Apr 7, 2021, 20:56 detodotv ***@***.***> wrote:

[2021-04-08 02:51] wouterdebie commented on #17
In got Debian packages working today and will do docker next, so we might
have this soon. I'd like to host this on ghcr.io, where I already host
another docker image.

On Wed, Apr 7, 2021, 20:29 Roddie Hasan ***@***.***> wrote:

[2021-04-08 02:54] eiddor commented on #17
I actually just sat down to write the Dockerfile using your Debian packages - Do you want me to get that done?  I would kind of appreciate the practice and I should have it working tonight.

(ghcr.io is great)

[2021-04-08 03:10] wouterdebie commented on #17
Sure thing! I'll have to see how this integrates with building the packages.
On option is to use apt-get install the packages from the Debian PPA when
building the docker image. However, we could also use the artifact that is
created during the build step and install it in the image directly.

Regardless, having a proper Dockerfile is a great first step.

You might want to also have a look at .git

[2021-04-08 03:22] eiddor commented on #17
Excellent, thank you!  I'm going to start with an Ubuntu image and basically follow what you've already documented.  The good news is that I've already got the user documentation done since it's pretty much the same as the one I built earlier.

After I get it working I'll start learning more about what you're doing with CI and Actions -  From what I understand so far, that would probably be a good

[2021-04-08 06:06] eiddor commented on #17
PR submitted.

Another good learning experience - For now installing the packages into the Ubuntu 20.04 base image works well.  I've tested it on a couple of machines and am running it on my PMS.

Once we move this to the GH Actions process and just add the binary to the image it will be a lot smaller since we can use the alpine image as a base (the binary works great in alpine).

[2021-04-08 13:31] Croq360 commented on #18
I got the latest version of the code and am running it.  Seems to be working okay now.

[2021-04-08 13:31] #18 closed

[2021-04-08 14:05] wouterdebie opened #24 "Add SSDP discovery"
`--ssdp` currently doesn't do anything. It'd be nice to get SSDP working for auto discovery in Plex and Emby.

[2021-04-08 17:50] #21 closed

[2021-04-08 17:51] wouterdebie commented on #17
@eiddor your contributions have been super helpful. I just added building and publishing a Docker image from CI/CD and added a bunch of stuff in the README. Let me know what you think.

[2021-04-08 17:54] #14 closed

[2021-04-08 18:17] eiddor commented on #17
Ha!  You did it exactly the way I was about to do it.  Well done!

I'm glad to know that I wasn't completely off-base with my understanding of the system, too. This is almost exactly what I had in my head.

I really appreciate the learning experience.  I had no idea what CI/CD or GitHub Actions were until late last night.  I'll never be a developer or creator, but some of these tools are really co

[2021-04-08 18:31] wouterdebie commented on #17
@eiddor Thanks!

Awesome! I have the feeling that people who know how to use `docker-compose` will probably know they need to make sure paths are correct. However, it's probably a good idea to explicitly mention that.

True! Thanks!

Awesome! Do you think we should do this in the README or move this to the Wiki perhaps and link in the Wiki? Or maybe add additional markdown files to the repo in a `

[2021-04-08 18:32] wouterdebie opened #26 "Expand Emby/PMS configuration documentation"

[2021-04-08 18:33] wouterdebie commented on #17
Moving the documentation discussion to #26

[2021-04-08 18:33] #17 closed

[2021-04-08 18:36] #13 closed

[2021-04-08 18:36] wouterdebie commented on #10
Closing this, since I'd like to rely on mechanisms that `apt`, `brew`, etc have.

[2021-04-08 18:36] #10 closed

[2021-04-08 18:37] wouterdebie commented on #8
This is part of the packaging. Closing.

[2021-04-08 18:37] #8 closed

[2021-04-08 18:58] eiddor commented on #26
I think the project is simple enough that we can just keep a couple of sections in `docs/` as needed.

"For detailed instructions on integrating with PMS or Emby, see <link to docs/01_integration.md>."

What do you think?

[2021-04-08 19:22] wouterdebie commented on #26
Really good point.

[2021-04-08 20:17] Croq360 commented on #12
When you add this, if there's an easy way to have different verbosity of logs on what goes to the screen vs what goes to the logs, that'd be helpful.

[2021-04-08 21:05] eiddor commented on #7
Do you think there would be demand for a Raspbian deb package as well?  (yes, I'm still looking at ebbflow's YAML file :-) ).

[2021-04-08 21:19] wouterdebie commented on #7
@eiddor Possibly.. My next package will be MacOS and publishing to homebrew, but after that, raspbian/arm7 might be a good target.

[2021-04-08 21:21] wouterdebie commented on #12
Good points. Let me check if I can set the RUST_BACKTRACE inside the application, because that would make debugging in especially containers much easier.

I'm pretty sure we can make a distinction in loglevel between what goes to the screen and what ends up in the logfile.

[2021-04-08 22:30] wouterdebie commented on #7
Couldn't help myself and added the Raspbian one. Was very easy to do, so why not :)

[2021-04-08 22:48] Croq360 commented on #26
I can put together the docs for PMS if no one else is already working on that.

[2021-04-08 22:53] eiddor commented on #26
Thanks for the offer, @Croq360!  I'm working on both at the same time to make them consistent.

[2021-04-08 22:59] eiddor commented on #7
Haha - I was hoping it would be that easy.  I'll test it out later.

This is so cool!

![image](https://user-images.githubusercontent.com/7586731/114106360-35cad880-9894-11eb-9f0f-8258a38a64cd.png)

[2021-04-09 02:36] eiddor commented on #7
Raspbian package works beautifully.

[2021-04-09 20:10] eiddor commented on #26
@Croq360 I'd appreciate if you could have a look at the instructions in PR #28 and let me know if you see any problems.  Thanks!

[2021-04-10 05:28] wouterdebie commented on #7
Just added a MacOS package through homebrew. Windows is the last one (unless we want RPMs) and I wonder what the best distribution mechanism is? Just create a .exe file for download somewhere? Or how does that work in Window? @Croq360 any ideas?

[2021-04-10 17:01] Croq360 opened #29 "Trouble with Docker on Windows 10"
Followed the instructions in the README (changing $HOME to the %USERPROFILE% variable which is what it is in Windows).  I got it into Docker fine, but when I try to run it, I get the following:

[code]

Note that I edited the config.ini that's in my .locast2tuner folder.  Maybe it's not using that, based on the error message?  Perhaps there's a config.ini somewhere else I need to be editing.  Any

[2021-04-10 17:13] eiddor commented on #29
@Croq360 I suspect you'll have to Windowsify things a bit with Docker, starting with maybe not using a dot directory.

Are you using the `docker run` command or docker-compose?

It might also be a CR/LF issue.

Try these steps:

- create your own `config.ini` from scratch using Notepad, matching the syntax from the sample file
- put it in the current directory that you're running from
- modify the

[2021-04-10 17:31] eiddor commented on #29
Oh goody, finally a reason to install WSL2.

[2021-04-10 18:27] eiddor commented on #29
Yeah, it's a CR/LF/newline/whatever issue.  Grr.

Run `dos2unix` on your config file before you launch the container and you should be fine.

[2021-04-10 18:36] eiddor commented on #7
I'll let @Croq360 weigh-in, but my thinking is that unless you're going to slap a GUI in front of it or make it a full-on Windows service, it might be better to just distribute it as an EXE file (maybe we put up some other binaries on the releases page as well).

@Croq360 How do you run Plex in Windows?  Is it a service?

I _was_ going to suggest that we should just direct Windows users to run it

[2021-04-10 22:23] Croq360 commented on #29
Ok, will give that a try. Running the exe directly and pointing to a config file that's like what was on locast2dvr works fine.  I'll use my VS Code editor or notepad++ to save the config that I downloaded and edited with my info and put into .locast2tuner folder. Will report back on that.

[2021-04-10 22:26] eiddor commented on #29
Yeah, that makes sense - The EXE is fine reading the ^Ms in the file put there by Windows, but the Docker version is technically running in Linux, so it chokes on them.

Either of those editors should be capable of saving in Unix format and stripping the CRs, so you should be ok.  That's all `dos2unix` does.

I added a note to the documentation.

[2021-04-10 22:29] Croq360 commented on #7
I run Plex as a service, they provide that option.  Not opposed to doing the same with locast2tuner, but not real keen on using nssm to run it as a service.  As @wouterdebie probably remembers, we had some weirdness with trying to do locast2dvr that way.  It would work for a while, but then lock up at some point, and I think I had to keep uninstalling and reinstalling the service to get it going a

[2021-04-12 13:39] Croq360 commented on #29
So I've tried checking the config.ini file, and it already has Unix end of lines (LF only).  I even tried saving with DOS (CR/LF) and then back to Unix (LF) format.  No good.

So, now I'm playing around with using WinSW to install it as a service.  Whenever I'm running there though, I'm getting the following error:
Child process 'locast2tuner (4368)' finished with code 101.

I need to look through

[2021-04-12 13:48] Croq360 commented on #29
So I changed the backslashes ("\") in the paths to forward slashes ("/") in the XML config for WinSW, and the service is running now.

[2021-04-12 14:05] Croq360 commented on #26
@eiddor - I think I already added a comment that I reviewed it and everything looked good.  Maybe in the PR itself?  Anyhow, just replicating that comment here.

[2021-04-12 14:06] Croq360 commented on #7
I managed to get a similar program, WinSW, configured and running locast2tuner.  Monitoring it currently to see how it goes.

[2021-04-12 14:59] eiddor commented on #29
Wow, interesting - I had the exact issue as you did with "Could not load file syntax" and removing the CRs got rid of it.  I did have to massage my `docker-compose.yml` file to adjust the volume location, too.

Glad you got it working!  Might be worth documenting in `README.md` or for @wouterdebie to use for the Windows package.

[2021-04-12 15:00] eiddor commented on #26
Yep, I saw that - Thank you!  Just waiting on @wouterdebie to close the issue.

[2021-04-12 15:12] Croq360 commented on #29
Yeah, once the service runs for a while and I confirm everything is working okay, I'll share my configuration for the service along with notes/comments.

[2021-04-12 15:15] Croq360 opened #31 "Add option to force timestamps when logging"
Currently, the logging I'm getting doesn't appear to have any timestamps.  It would be helpful to have that so if something goes wrong, you know when it happened, and also, to be able to look at it and see that you have recent entries.

[2021-04-12 15:17] Croq360 commented on #31
This is an enhancement request, but I can't figure out how to flag it as such.

[2021-04-12 15:42] kevtown opened #32 "Add some retry behavior at startup.."
Service crashes when starting on boot. Apparently attempting to connect before the network is ready.
Service starts successfully when started manually.
Adding ExecStartPre=/bin/sleep 10 to locast2tuner.service seems to function as a workaround

● locast2tuner.service - locast2tuner
   Loaded: loaded (/lib/systemd/system/locast2tuner.service; enabled; vendor preset: enabled)
   Active: failed (Resu

[2021-04-12 15:44] eiddor commented on #32
@kevtown Can you try binding to 0.0.0.0 if you're not already?  Not necessarily a workaround, but I'm curious if it fixes it.

[2021-04-12 16:25] kevtown commented on #32
added
 bind_address = "0.0.0.0"
to  /etc/locast2tuner/config.ini

removed
 ExecStartPre=/bin/sleep 10
from locast2tuner.service

no change that I can see.

● locast2tuner.service - locast2tuner
   Loaded: loaded (/lib/systemd/system/locast2tuner.service; enabled; vendor preset: enabled)
   Active: failed (Result: signal) since Mon 2021-04-12 12:08:19 EDT; 14min ago
  Process: 370 ExecStart=/usr/bi

[2021-04-12 16:28] eiddor commented on #32
Oh, I see - Ok, so it's not a binding issue.  `locast2tuner` really really wants to contact Locast right away and it can't even resolve it because the network is down and there's no retry.  Would probably be solved by a little #15 :-)

I guess a good test internally would be to sleep/retry a few times if DNS won't resolve.

[2021-04-12 16:34] kevtown commented on #32
Sounds like a great idea. Thanks for your work on this.

[2021-04-12 19:08] wouterdebie commented on #32
Good point.. I could add some retries here and there. But then again, why doesn't your DNS resolve?

[2021-04-12 19:11] wouterdebie commented on #31
What locast2tuner (and locast2dvr as well) does is that if you start it from the command line and have a terminal (or tty in UNIX), it will display the timestamp. If it doesn't have a tty (because it's piped to another process, or the output is handled by syslog), it will remove the timestamp, because otherwise the timestamp will be in the log file twice. I could add an option to always show the t

[2021-04-12 19:15] wouterdebie commented on #29
Great work!
Just for my understanding, you are running a Linux Docker image on Windows?

In the case of a windows executable, I'd like to accompany that with making `locast2tuner` run as a service.

[2021-04-12 19:17] Croq360 commented on #31
Yeah, something like that would be good.  I tried to set the logging in WinSW (that I'm using to run locast2tuner as a service) to do the timestamps, but it doesn't appear to be capable of adding them.

[2021-04-12 19:20] wouterdebie commented on #26
Thanks!

[2021-04-12 19:20] #26 closed

[2021-04-12 19:21] wouterdebie commented on #6
This issues seems to be way too broad to be actionable, closing this..

[2021-04-12 19:21] #6 closed

[2021-04-12 19:24] wouterdebie commented on #31
Interesting.. I'll add the option!

[2021-04-12 19:32] Croq360 commented on #29
In my case, I was trying to use the Linux Docker image on Windows (which it should be able to do).  I'm pretty sure when I did that with locast2plex, it ran in a Linux container.

Regarding the Windows executable/service, for Windows users, I can put together some documentation on getting locast2tuner executable running as a service using WinSW (https://github.com/winsw/winsw).  I'm using it inste

[2021-04-12 19:46] #31 closed

[2021-04-12 21:29] Croq360 commented on #29
I think I see the problem.  When I ran the Windows equivalent for the curl command, "curl -o %USERPROFILE%\.locast2tuner\config.ini https://github.com/wouterdebie/locast2tuner/blob/main/assets/config.ini.example", it tacked on a TON of extra HTML tagging.  When I look at the example file here, it just has the entries called out.  When I look at my resulting config.ini file, it's nearly 1200 lines

[2021-04-12 21:35] wouterdebie commented on #29
My bad.. the link should have been to the raw file, which I just fixed in commit c7f1d0a.

[2021-04-12 21:47] eiddor commented on #32
It's not necessarily indicative of a problem.  The RPi can be slow to bring up networking, especially if you have spanning-tree enabled on the switch port.

I don't think I've done restarts when I've done testing here, so I will probably see the same thing at some point.

(Great work, btw - this has been a fun project and I am learning a ton of stuff that I never get to work with.).

[2021-04-12 21:48] Croq360 commented on #29
Awesome, thanks!

[2021-04-12 21:48] #29 closed

[2021-04-12 22:46] Croq360 commented on #7
@wouterdebie - for Windows packaging, if you can, I think the best way would be to create an installer program.

It could put the locast2tuner.exe file in your "Program Files" folder (or "Program Files (x86)" if you're supporting a 32-bit version of the program).  Then, in the user's "AppData" folder, you could create a location there.  Note that there is "Local", "LocalLow", and "Roaming" top-lev

[2021-04-12 22:49] Croq360 opened #33 "Idea - Save Configuration To A File"
I think it'd be nice to offer a way to save off the command-line parameters you're running with to a config file.  You could run the program with all your desired options, then add something like "--save_config=filename" to save the configuration.  The resulting config file would have all the config options you set in there (and maybe even add in the commented out default options that weren't over

[2021-04-12 22:59] wouterdebie commented on #32
Oh I see! In that case we could actually rely on `systemd`. @eiddor or @kevtown, since it seems you can replicate this behavior, could you try adding the following to `locast2tuner.service`?

[code]

(found this at https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/ and there's some great explanation)

[2021-04-12 23:03] wouterdebie commented on #33
Interesting idea. I rather not add an option for this. However we currently have `/config` as a path, that outputs a JSON. I could add `/config.ini` that outputs a `config.ini` in the proper format that you can download. That way your "save config" command will just be `curl -o new_config.ini http://localhost:6077/config.ini`. What do you think?

[2021-04-12 23:06] wouterdebie commented on #7
I've been thinking using an actual installer instead of just the binary .exe file. That way we can automate installing it as a service for example. I'll do some research, but I'd probably need your help with some of the windows specific stuff.

[2021-04-12 23:21] eiddor commented on #32
Will do - currently fighting with my NAS, so everything is down, but I'll test it sometime tomorrow.

Note: We may still need some retry logic for the Docker container, since it's not started by systemd, and Docker may bring up networking before the host network is up. I'll test that out here, too.

[2021-04-12 23:25] eiddor commented on #32
(Upon further consideration, depending on your `restart` setting,  Docker itself may restart the container if it fails.)

[2021-04-12 23:37] Croq360 commented on #7
Sure, I'll help in any way I can. 🙂

[2021-04-12 23:39] Croq360 commented on #33
Yeah, that's a better option than what I suggested...

[2021-04-12 23:40] wouterdebie commented on #32
Yeah, but @kevtown wasn't talking about Docker. Our docker image doesn't use systemd

[2021-04-12 23:41] wouterdebie commented on #33
Cool! I'll implement that later

[2021-04-12 23:43] eiddor commented on #32
I know - What I'm saying is that having a network delay may also cause the Docker container to fail and we can't fix that one with systemd commands.  I'll have to check that out tomorrow.

[2021-04-12 23:45] wouterdebie commented on #3
Is this still that case? I've moved to the async client and I'm wondering if this is still true.

[2021-04-12 23:47] wouterdebie commented on #32
Ah gotcha!

[2021-04-12 23:47] wouterdebie commented on #32
I guess that depends on how you run Docker. Don't you generally want docker to run when network is ready?

[2021-04-12 23:52] eiddor commented on #32
I should have checked before saying anything :-)

[code]

We'll blame the NAS issues.

[2021-04-12 23:55] wouterdebie commented on #32
Hahah! And Docker also uses the After and Wants that I mentioned earlier. Seems like the way to go :)

[2021-04-12 23:56] eiddor commented on #32
Yeah, great find!

[2021-04-13 00:06] Croq360 commented on #3
I'll check my logs from my earlier restart of my service and let you know.

[2021-04-13 03:29] Croq360 commented on #7
Just an update to the original purpose of this thread, or at least part of it.  Once I changed to use the correct config.ini data, the Docker installation is running fine (Linux container on Windows 10 box).

[2021-04-13 03:30] eiddor commented on #7
That's what I like to hear.

[2021-04-13 03:50] Croq360 commented on #3
Update: it appears to be more comparable to what I was seeing with locast2dvr.

[2021-04-13 09:36] kevtown commented on #32
Same result

locast2tuner.service

[Unit]
Description=locast2tuner
After=online.target
[Service]
User=locast2tuner
Group=locast2tuner
#ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/locast2tuner -c /etc/locast2tuner/config.ini --cache_dir /var/lib/locast2tuner

[Install]
WantedBy=multi-user.target online.target

systemd status on boot

● locast2tuner.service - locast2tuner
   Loaded: loaded (/lib/s

[2021-04-13 15:28] jg-24 opened #34 "Are you still watching message causes application exit"
Discovered this application a couple days ago after troubleshooting an issue with locast2plex and installed it via homebrew.  Been working great so far and wanted to get a thank you in before noting the exception below.

Running on mac in terminal, the application failed overnight with the error message below.  I had set a sleep timer on the TV and the channel was streaming while waiting for the R

[2021-04-13 16:40] wouterdebie commented on #34
Thanks for this! It seems that the m3u data from locast.org was empty. This should definitely not lead to aborting the application :) As you see in #15 this area needs some attention. I'll work on this.

[2021-04-13 20:42] wouterdebie commented on #32
@kevtown I thought you added a comment here, but did you remove it? What happened?
@eiddor are you still going to test out the change? It seems we would need this in the `[Unit]` section, right?

[code]

[2021-04-13 20:45] #11 closed

[2021-04-13 20:45] wouterdebie commented on #3
@Croq360 Thanks! I'm closing this issue for now, but don't hesitate to reopen if things get slow.

[2021-04-13 20:45] #3 closed

[2021-04-13 20:46] #15 closed

[2021-04-13 21:16] Croq360 opened #36 "Enhancement: Better Remapping Capability"
The current remapping that's implemented, while useful and helpful, could be improved.  My suggestion is supporting a way that users could have control over the channel numbers (and possibly displayed names), and the ability to deactivate channels you don't want to have available.  Emby supports sorting channels by name in the guide, which is nice, but removing a channel from the guide is not very

[2021-04-13 21:43] eiddor commented on #32
I'm glad it wasn't just me!

Yeah, those lines it would go under `[Unit] in `/etc/systemd/system/multi-user.target.wants/locast2tuner.service`

I just RMA'd my NAS, but I will cobble something together to test with where I have some ability to delay network start.  Should be able to get that done tonight.

[2021-04-13 22:38] #33 closed

[2021-04-13 22:52] Croq360 opened #37 "Missing config.example"
The link to config.example doesn't resolve, file seems to be missing.

[2021-04-13 23:02] wouterdebie commented on #37
Yeah, I messed up the .gitignore.. Should be fixed now

On Tue, Apr 13, 2021 at 5:53 PM Croq360 ***@***.***> wrote:

[2021-04-13 23:02] #37 closed

[2021-04-14 02:50] TheSamDickey opened #38 "thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: reqwest::Error"
Hello, I ran the docker image and it crashed.  Here's the log:

[code]

If more information would be helpful I can up the verbosity level to full.  Thanks for the awesome work you do!

[2021-04-14 04:26] eiddor commented on #38
@TheSamDickey My docker version runs fine once I renamed `config.ini` to `config`.  Is it only failing on system startup, or can you ever get it to start?

Your logs kind of look a bit odd, though - The error in the first line would probably be related to the config file not being found due to the change for #35.  But the rest appears to be more of a connectivity issue.

(@wouterdebie We might wan

[2021-04-14 04:38] eiddor commented on #32
So, that workaround works fine on Ubuntu running in a VM, but not on a Raspberry Pi running Raspbian.

[code]

I can start it manually with `systemctl start locast2tuner` after I can get into it.

Every bit of information that I can find about this with RPi includes a script that does an Internet connectivity test before launching the service.  Now that we've got users running this as a service on

[2021-04-14 07:59] TheSamDickey commented on #38
@eiddor Yeah, it wouldn't run at all until I changed the `config.ini` to `config`.  This log was after changing over to just `config`.

It ran for about 30 seconds before failing.  It seems to have worked properly up until it was starting to log into api.locastnet.org.

[2021-04-14 12:40] rtm2017 commented on #38
Getting  a similar error over the past few days. Recently had to change config.ini to config as well. Happens as soon as the Docker starts.

`
config selected = /app/config/config
[INFO] - locast2tuner 0.1.15 on Linux 5.10.21-Unraid starting..
[INFO] - UUID: REMOVED
[INFO] - Logging in with REMOVED
[INFO] - Login succeeded!
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: re

[2021-04-14 12:59] wouterdebie commented on #38
@TheSamDickey for some reason Docker seems to suffer some transient network issues. I'll implement some retry/exponential backoff behavior to mitigate this.

@rtm2017 this is a different error. After logging in, it seems that the user info doesn't contain the `donationExpire` flag. I'll add some debugging output to see what the response is you're getting. Do you have an active (paid for) locast.or

[2021-04-14 13:42] jg-24 commented on #34
Upgraded to 0.1.12 yesterday, and not running again this morning.  Just in case there's different and useful information the exit message, I included it below.  I upgraded to 0.1.15 this morning and added RUST_BACKTRACE=1 to the config.ini in case that helps, should it exit again.

Thanks.

\- Jeff

[code]

[2021-04-14 15:03] wouterdebie commented on #34
@jg-24 Thanks for this. Is it running now or not? And does this only happen on a specific channel? If so, what channel in what DMA is this?

Adding RUST_BACKTRACE=1 to your config is not going to help, but I'm adding an option to enable this.

[2021-04-14 15:06] Croq360 commented on #36
Last night, I was tinkering around with how to render the remapping info on a page where you could edit it.  I came up with *rough* prototype, just to see if it could work.

I found a package called Tabular (tabular.io), downloaded it, created the attached HTML file and put it in the root of the Tabular folder.  If you do that, you can load the HTML file take my snippet above and save that to a JS

[2021-04-14 15:16] kevtown commented on #32
I'm sorry. I did try to send you further test output before heading out to work (which keeps me AFK) but I accidentally left private info in my output so I had to delete my comment here it is with the private info stripped.

locast2tuner.service
[Unit]
Description=locast2tuner
After=online.target
[Service]
User=locast2tuner
Group=locast2tuner
#ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/locast2t

[2021-04-14 15:21] jg-24 commented on #34
I updated and started it again this morning, and it will likely run all day again.  I'll check again this evening and upgrade in case you've added anything today to see if that makes a difference.

I'd _assume_ it's related to KFFV (44.1), but it's hard to say since it could be crappy comcast networking as well.  Over the years, I've had many ssh sessions interrupted by whatever it is they do with

[2021-04-14 15:22] eiddor commented on #32
@kevtown Try adding _both_ commands under `[Unit]`

[code]

As I mentioned above, I got this to work with Ubuntu, but not on RPi.

[2021-04-14 15:38] kevtown commented on #32
Same result

[Unit]
Description=locast2tuner
After=network-online.target
Wants=network-online.target
[Service]
User=locast2tuner
Group=locast2tuner
#ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/locast2tuner -c /etc/locast2tuner/config.ini --cache_dir /var/lib/locast2tuner

[Install]
WantedBy=multi-user.target

● locast2tuner.service - locast2tuner
   Loaded: loaded (/lib/systemd/system/locast2tun

[2021-04-14 15:52] eiddor commented on #32
Yeah, that's what I'm seeing on my RPi, as well.  There are lots of workarounds for this until we can get some waits or retries added to the code, but for now just try to uncomment:

[code]

That will simply delay the service 10 seconds before starting.  I just tested it on my RPi.

[2021-04-14 15:57] kevtown commented on #32
Will do, thanks,  FYI also experimented with

[2021-04-14 16:00] eiddor commented on #32
Yeah - The RPi thinks that it is up, but apparently it's still not able to actually connect to the Internet at that point, so we're failing there.  Interesting.

[2021-04-14 17:41] TheSamDickey commented on #38
Alright sounds good!  Thanks!

[2021-04-14 20:18] rtm2017 commented on #38
@wouterdebie  You were right, think I got it all working now! Sorry to bother you!

[2021-04-14 20:22] wouterdebie commented on #38
@rtm2017 No worries! It exposed a bug though, where the error handling wasn't correct. I'm fixing this now.

[2021-04-14 20:58] Croq360 commented on #36
I'll see if I can get some time to tinker some more on this tonight and at least get it set up to support the full round trip (Read in JSON->HTML edit->Write out JSON).  I can work on "prettying it up" after that... :)

[2021-04-14 21:13] wouterdebie commented on #38
@TheSamDickey I just pushed v0.1.17, which has retry behavior. This should fix your issue.

[2021-04-14 21:14] wouterdebie commented on #34
@jg-24 I've added retry behavior in 0.1.17, which should mitigate those issues. Please have a look :)

[2021-04-14 21:14] rtm2017 commented on #34
Just to build on error handling, as a newcomer to locast I ran into the previous issue with not having made a donation yet. I believe I found an error in v0.1.16 that happens when you have made a donation but not validated your email. When I would try to load anything in Plex I would get this error in locast2tuner and the Docker would shut down. I was able to connect VLC as a m3u tuner and see the

[2021-04-14 21:16] wouterdebie commented on #32
@kevtown 0.1.17 adds retry behavior, so this should mitigate the issue on the RPi. I'll soon push 0.1.18 that will include the systemd service file changes that are discussed in this issue as well.

[2021-04-14 21:28] wouterdebie commented on #34
@rtm2017 interesting case! Let me investigate a bit. This should be a normal stream, however, the segments don't seem to exist. Let me see if I can replicate this.

[2021-04-14 21:38] wouterdebie commented on #34
@rtm2017 I can't seem to replicate this. I created another locast account, paid the donation and then started locast2tuner. But I can just stream. It might be that they only give the email_confirm stream after a while.

If you still have the unconfirmed account, could you send me a log captured with `-v2`?

[2021-04-14 21:49] #32 closed

[2021-04-14 22:00] rtm2017 commented on #34
I have already validated my email and got the entire tuner working perfectly in Plex!! So i also tried replicating it with a new account and donation and was not able to do so. I did originally take a few days each between making my locast account, paying a dotation, and then validating my email. I suspect now that Locast has some detection on how long your account has been around and stops stream

[2021-04-14 23:07] eiddor commented on #32
Tested and the combination of the After/Want and the retries works well on RPi!

[2021-04-14 23:09] jg-24 commented on #34
I'd suggest renaming this issue to "Application fails with exception overnight" so it is something that can be closed and open a new issue for the locast email validation error.

[2021-04-15 00:29] #38 closed

[2021-04-15 14:10] deputyd0ng commented on #38
Im having this same issue running the unraid template, should I just run it in an ubuntu VM container so I can change the config.ini?

[2021-04-15 14:33] jg-24 commented on #34
Updated to 0.1.18 yesterday and changed "verbose" to 2 (removed the rust_backtrace config item as you suggested), and the resulting /config is below.

Set recordings on NBC from 11:30PM until 2:00AM (not KFFV), but it looks like the same station may have been the source of what caused the application to exit again.

I thought I had an additional hour scheduled to record so the last thing being "wa

[2021-04-15 16:28] jg-24 commented on #34
I've presumed since logging this issue that it is caused by the "are you there" message, which I have actually never seen on their application, but knowing how that gets triggered and responded to seems key (which of course may already be implemented but locast could have changed it).

I was looking for more information about how locast implements it, but could only find this:

https://helpcenter.

[2021-04-15 17:09] eiddor commented on #38
@deputyd0ng Can you tell me the exact issue you're having?  Renaming the `config.ini` to `config` was one problem, but the ultimate issue that @TheSamDickey had seemed to be something transient upstream and v0.1.17 added some retry behavior to mitigate against it.

We may have to open a new issue if your problem is different or something specific to how unraid runs containers.

[2021-04-15 17:39] jg-24 commented on #34
This is definitely related to the "are you still watching" message and response.  I just left an NBC channel (KING) running for a few hours and right after I got an are you still watching message on the TV (playing through Plex), the stream stopped with the message below.

\- Jeff

[code]

[2021-04-15 18:51] wouterdebie commented on #34
Wow, great find! So to summarize, we have 2 issues:

- Locast2tuner not passing along the email confirmation video stream: I'm waiting for this to kick in on my second account, so I can experiment with this and see how to solve this.
- The "are you still here" scenario where it seems like the m3u file that is fetched from locast.org is empty. Does the "Are you still here" message come from Plex or

[2021-04-15 18:56] wouterdebie commented on #12
Fixed in 66f944d

[2021-04-15 19:06] wouterdebie commented on #12
Version 0.1.19 adds support for a log file as well as logging to syslog. The previous implementation was a bit of a hack to not include timestamps when there was no tty, but that seemed not super nice. v0.1.20 removes the `--force_timestamp` option, since I think logging to a file should always include a timestamp and syslog will take care of timestamping itself.

Now the question is if the Docker

[2021-04-15 19:36] jg-24 commented on #34
For what its worth, here's a locast Knowledge Base entry that may point to information about the email verification (but I would also suggest making this a separate issue since there are different steps to reproduce).

https://helpcenter.locast.org/portal/en/kb/articles/verification-screen-still-appearing-after-email-address-has-been-confirmed

[2021-04-15 19:42] jg-24 commented on #34
I saved off the locast browser application looking for some logic around the "are you still watching" message.  I am still going through it, and hopefully this doesn't pollute the issue tracker, but these are 2 locations where I found information.  There may need to be more context around the 7.js excerpt, but I thought I'd see if this sparked any ideas.

\- Jeff

From main.js
[code]

From 7.js
[c

[2021-04-15 19:57] wouterdebie commented on #34
Nice Investigation! This is all frontend code that seems to kill the stream
after 2:49h and 2:59h of watching, unless the user clicks ok. My guess is
that the initial m3u file that is fetched is emptied after 3 hours, but it
will still be a valid file. The error you see in locast2tuner is that the
requested file is empty, but still exists. I'll move the fetching of the
initial m3u to a different p

[2021-04-15 20:43] eiddor commented on #12
Not sure off-hand, but I will test tonight/tomorrow.  You mean starting `locast2tuner` itself with the `--syslog` option, correct?

[2021-04-15 20:45] wouterdebie commented on #12
Exactly. For Ubuntu/Debian that probably works. Not so sure about Docker

On Thu, Apr 15, 2021, 15:44 Roddie Hasan ***@***.***> wrote:

[2021-04-15 20:46] eiddor commented on #12
Oh, Docker - logging to syslog on the host.  That's an interesting one.  I'll do some research.

[2021-04-15 20:57] wouterdebie commented on #12
We don't have to. I assume just regular output is fine.

On Thu, Apr 15, 2021 at 3:47 PM Roddie Hasan ***@***.***>
wrote:

[2021-04-15 21:00] eiddor commented on #12
Ok, let me think about this -

It depends on how much you think logging will be needed.  We could always
log inside of the container and then add a troubleshooting guide for users
to either view it inside the container in real time, or to map it to a
volume on the host the same way they do the config file.

On Thu, Apr 15, 2021 at 3:57 PM Wouter de Bie ***@***.***>
wrote:

[2021-04-15 22:25] wouterdebie commented on #12
@eiddor I think it works well right now with just logging to the terminal. There's a way to use syslog, but I don't think that's necessary for now.

I think adding `--syslog` to the `systemd` service definition makes sense. Maybe even `--quiet --syslog`.

[2021-04-15 22:48] wouterdebie commented on #34
@jg-24 I think the latest version (v0.1.21) should fix both issues. Thanks for the research and the bug report!

[2021-04-15 22:48] #34 closed

[2021-04-15 23:06] jonfive opened #39 "panicked at 'called `Result::unwrap()"
Having a bit of an issue with the application stopping after a day or so of running.
it's stopping with:

thread 'actix-rt|system:0|arbiter:9' panicked at 'called `Result::unwrap()` on an `Err` value: Error { inner: MissingTag { tag: "#EXTM3U", input: " " } }', src/http/mod.rs:382:83"

I'm not exactly sure what it's trying to access. Perhaps when it's trying to get new epg data?

Running in docker

[2021-04-15 23:09] wouterdebie commented on #39
This should be fixed in the latest version and described in d0ab9f2 :) Closing this for now, but let me know if this still happens with the latest version.

[2021-04-15 23:09] #39 closed

[2021-04-15 23:21] eiddor commented on #12
I agree - It's easy enough to eliminate `-d` when starting the container to just have the terminal.  That's how I've been doing it so far.  In theory (at least in my mind) the more mature the project gets, the less this will be required.

It looks like it's trying to log to `/var/run/syslog` instead of `/var/log/syslog`

For the deb package, is logging to syslog something we really want to do by d

[2021-04-15 23:24] wouterdebie commented on #12
Logging to /var/run/syslog is correct, since it's a named pipe. But maybe
you're right about logging to a different file. Let me see how other
packages do this. I assume most log through syslog, but add an additional
facility.

On Thu, Apr 15, 2021, 18:21 Roddie Hasan ***@***.***> wrote:

[2021-04-15 23:28] eiddor commented on #12
Ahh, ok - that makes sense.  Raspbian isn't too happy about it, though ;-)

[code]

Updating on the Ubuntu VM to test.

[2021-04-15 23:31] eiddor commented on #12
Same message with Ubuntu.

[2021-04-15 23:40] wouterdebie commented on #12
Ah! I'll test later!

On Thu, Apr 15, 2021, 18:31 Roddie Hasan ***@***.***> wrote:

[2021-04-15 23:42] eiddor commented on #12
Sounds good!

Note: The reason I asked how necessary this was is because without any logging options, we can always look at journald for the output with `journalctl -u locast2tuner`

[2021-04-16 00:39] Croq360 commented on #36
@wouterdebie - for this approach, are you thinking the editing of the remapping data would be something you could do inside of the main web interface (like 127.0.0.1:6077/remap, have that load your current remapping, if any, and you could edit it).  The tricky part might be on how to save the remap data once you're done.  Also, do you think using the TOML format would be better or sticking with so

[2021-04-16 00:46] wouterdebie commented on #12
@eiddor cool! I'll probably have a look tomorrow.. I just released 0.1.23 (currently building, but available in 15 mins or so) with `locast2tuner.service` reverted.

[2021-04-16 13:53] jg-24 commented on #34
Validated.

Updated to locast2tuner 0.1.23 and saw the application make new logins ~ every hour.

Application did not exit overnight.

[code]

[2021-04-16 14:14] wouterdebie commented on #34
Perfect! The login is different from fetching a new `m3u` file every 2:45h. Locast provides a login token after login that is used for subsequent requests to their API and locast2tuner refreshes this token every hour.

In the log you posted, did you stream for hours on end?

[2021-04-16 14:31] jg-24 commented on #34
I did not set recordings to occur overnight since the "are you still watching" message was determined to be the cause.

I separated the log by hour (its continuous, I just added new lines), and the "are you still watching" message would have occurred just after 2AM like the previous logs when the application exited.

It's good to see the new behavior didn't cause the application to continue stream

[2021-04-16 14:39] wouterdebie commented on #12
@eiddor I just tested this myself on Ubuntu and it seems to work. I went for *not* using syslog for Ubuntu/Debian, but I've added a log directory in `/var/log/locast2tuner` where we log now. Let me know what you experience before I close this ticket.

[2021-04-16 15:27] eiddor commented on #12
This works on both Ubuntu and RPi!  Thank you!

[2021-04-16 15:27] #12 closed

[2021-04-16 16:40] wouterdebie commented on #24
I did a little bit of research and the `ssdp-rs` library could be used, but the issue is that it requires rust nightly to build, since it requires `feature(ip)`. Skipping this for a while. Keeping https://github.com/rust-lang/rust/issues/27709 here to track progress.

[2021-04-16 18:53] rtm2017 commented on #34
Can confirm the please validate email stream is now shown in plex instead of crashing locast2tuner. Awesome work!

[2021-04-17 16:38] Croq360 commented on #36
Okay, I have put together a bit more functional version of the remapping editor.  It should at least give you an idea of what it can do, but there are more things I want to try out (see below).

As a reminder, you need to download the tabulator package from tabulator.info, then save the attached remapEditor.txt as remapEditor.html in the root folder for tabulator.

You would need the channel remap

[2021-04-17 17:20] wouterdebie commented on #36
Cool! I'll start with just having a remapping file that you can specify on the command line and then think about how the UI should work. As you mention, one of the things is how to save data. Do we want this in just a json file or do we want to use some other storage mechanism?

[2021-04-17 18:38] Croq360 commented on #36
I was thinking about that too.  Could locast2tuner manage the remapping internally and just use something similar to what I've put together to manage the remappings through the web interface?

[2021-04-18 06:00] rtm2017 opened #40 "Docker Container Crashes On Gateway Timeout"
Noticed my Docker container had stopped. Thought I would grab the log
Unraid: 6.9.1
locast2tuner: 0.1.25

I would have expected locast2tuner to retry instead of stopping.

Let me know what else I can provide to help solve this!

[code]

[2021-04-18 16:11] eiddor commented on #40
@rtm2017 Did this only happen the one time?  "504 - Gateway Timeout" sounds like it would be something on the locast end where their web server is having a problem reaching something on the back end.  I get this with nginx when using reverse proxy and one the services behind it is down.

@wouterdebie I'm not sure whether this is worth adding some kind of retry behavior to mitigate against.

[2021-04-18 17:10] wouterdebie commented on #40
Right now the http client retries recoverable errors, but a 504 is
considered serious, so it won't retry. What I could do though is to try
again until we run out of chunks to serve and then just stop the stream.

On Sun, Apr 18, 2021, 11:11 Roddie Hasan ***@***.***> wrote:

[2021-04-18 18:30] rtm2017 commented on #40
I've only seen it this one time. I'm not even sure it was streaming anything when it happened, I just logged in and saw that the docker container had stopped. I would expect that if locast was down or connection to the internet was lost the docker container would continue to run and simply retry every 5 minutes or something

[2021-04-18 19:57] wouterdebie commented on #40
Yeah, this should not result in a panic, but locast2tuner should either
silently ignore this and stop the stream or retry.

On Sun, Apr 18, 2021 at 1:30 PM rtm2017 ***@***.***> wrote:

[2021-04-18 20:18] wouterdebie commented on #40
I chose to just stop the stream, rather than retrying. I think this is a nice solution, since locast2tuner doesn't panic and exit, but the stream is just gone. With errors like this, we have no idea when it comes back, and we only have a 10 segment window to recover before the stream pretty much craps out.
I just pushed a fix for this and should be available in 0.1.26 (currently building and avail

[2021-04-19 18:22] #22 closed

[2021-04-19 18:24] wouterdebie commented on #40
Closing this issue for now, since this should not happen anymore. Let me know when something similar does happen :)

[2021-04-19 18:24] #40 closed

[2021-04-19 20:55] wouterdebie commented on #36
@Croq360 cool. I just pushed a proof of concept. Would you mind checking this out? Right now `--remap` takes precedent over `--remap_file`. I also changed the format of the json a bit, since I wanted to keep using the correct terms. With `--remap` we map the channel number and the call_sign, so I'm referring to this here as well. The `original_channel` and `original_call_sign` are purely for docum

[2021-04-19 21:05] sgaert opened #41 "response '204 No Content'"
Hello, i try to get it running since a week, but i have no idea anymore. Here is my log:

Apr 19 20:45:31 locastvm locast2tuner[4052]: config selected = /etc/locast2tuner/config
Apr 19 20:45:31 locastvm locast2tuner[4052]: Apr 19 20:45:31.711 INFO locast2tuner 0.1.28 on Linux 5.4.0-72-generic starting..
Apr 19 20:45:31 locastvm locast2tuner[4052]: Apr 19 20:45:31.711 INFO UUID: bc412c67-e151-4214-

[2021-04-19 21:12] wouterdebie commented on #41
Hi!

Would you mind running with `--rust_backgrace` and paste the full log here? Do you have an active locast subscription with donation?

[2021-04-19 21:29] Croq360 commented on #36
Sure, I'll grab that and take a look.  Any reason why I couldn't config the test version to run on a different port and keep my current version running?  Assuming of course that I don't try to do too many streams at once... :-)

[2021-04-19 21:48] sgaert commented on #41
I tryed the CURL Post but not return. I also tryed the curl to the URL without the /login, i received an error json as return.

[2021-04-19 21:59] wouterdebie commented on #41
Super weird.. Do you have any "strange" characters in your email address? Or something in your password that locast doesn't like? What if you supply a wrong password? This seems to be an issue with your account. I've tried replicating, but I can't seem to get an empty response.

[2021-04-19 22:06] sgaert commented on #41
no strange characters in the credentials. i can write what i like in the usere and password, always no responce. Also the line as you wrote create no responce. When i delete the json out of the request I get an error responce.

sgaert@locastvm:/usr/bin$ curl -X POST  https://api.locastnet.org/api/user/login
{"code":500,"message":"There was an error processing your request. It has been logged (ID 4

[2021-04-19 22:11] Croq360 commented on #36
I cloned the branch you created for the remap PoC, but when I went to build it with "cargo build", I got the following errors:

   Compiling unix_socket v0.5.0
error[E0433]: failed to resolve: could not find `unix` in `os`
  --> C:\Users\Alan\.cargo\registry\src\github.com-1ecc6299db9ec823\unix_socket-0.5.0\src\lib.rs:19:14
   |
19 | use std::os::unix::ffi::OsStrExt;
   |              ^^^^ could n

[2021-04-19 22:25] wouterdebie commented on #41
Is there a proxy in the way that blocks you from posting data?

[2021-04-19 22:28] wouterdebie commented on #36
Ah yes.. It seems like `slog-rs` includes `syslog` which is unix only.. Let me see if I can find a way to omit that for windows.

[2021-04-19 22:47] wouterdebie commented on #36
@Croq360 I can't test this because I don't have windows, but could you try to compile from the `fix_windows` branch? This doesn't include the remapping stuff, because I want to make sure the windows build is fine first.

[2021-04-19 23:11] Croq360 commented on #36
Okay, it compiled fine, and I was able to load up my channels into NextPVR.  Also, I did the "logfile" option and it appeared to be logging to that file.  So, it appears to be good to go.

[2021-04-20 02:10] wouterdebie commented on #36
Awesome, thanks for testing! I'll merge this tomorrow and continue the work
on the remap stuff.

On Mon, Apr 19, 2021, 18:11 Croq360 ***@***.***> wrote:

[2021-04-20 04:03] Croq360 commented on #36
I managed to get the files merged on my end and noticed an issue.

1. Channels that I have marked as '"active": false' are still showing up in the listings.  I would have expected them to be excluded.
2. For inactive channels still showing up, they show up in the guide with their original number.  Of course, if they were deactivated and not included in the list that locast2tuner sends when you loa

[2021-04-20 05:36] sgaert commented on #41
Thank you for your input, I got it. It is the geofence of locast, I´m from the outside of the supported area.
If I use a VPN than I receive a token responce in curl.

[2021-04-20 05:36] #41 closed

[2021-04-20 14:15] wouterdebie commented on #36
I see now. What about channels you haven't specified in the mapping file? Should those be included or excluded?

[2021-04-20 14:26] Croq360 commented on #36
I think if a channel comes in that's not covered by the remapping, it should just be included as-is.  You can theoretically dump a new remap list from the web interface that includes those channels and remap/deactivate accordingly, then save off your changes.

So, the default action should be to make the channel active and don't remap it.

[2021-04-20 14:27] wouterdebie commented on #36
Cool, thanks!

[2021-04-20 15:56] wouterdebie commented on #36
@Croq360 I just updated the `remap_file` branch (force pushed by accident, so the repo might be somewhat screwed up). This should do what you mentioned. Mind testing this out?

[2021-04-20 17:30] Croq360 commented on #36
Sure, no problem.  It'll be a bit later in the day though - gotta do some real work during work hours.  :-)

[2021-04-20 17:39] wouterdebie commented on #36
haha! no rush! Thanks for the immense help!

[2021-04-20 18:09] Croq360 commented on #36
I couldn't resist, did a bit of playing.  I did notice a side-issue.  If you set a logfile name and the directory doesn't already exist, Rust will throw a "panic".  Do you want me to create a separate issue on that?

[2021-04-20 18:20] wouterdebie commented on #36
haha, nice! You could make an issue of that, but I don't think locast2tuner should be responsible for making any directories in that case. It does make a directory for it's own cache, but for logging, I'm not so sure tbh. Right now in the ubuntu/debian packages, that is something the package takes care of.

That said, the error messages might be a bit nicer :(

[2021-04-20 18:25] Croq360 commented on #36
That's ok then, easy enough to create the directory...

I did find an issue with the call signs when the number isn't using the ".1" type numbering.  Here's an example.

remap.json file:
[code]

tuner.m3u result:
[code]

The tvg-name value should be "KTVK" instead of "3 KTVK".

[2021-04-20 21:39] Croq360 commented on #36
A question in addition to issue above:

Have you put together the page for webserver to provide the current set of channels?  If it doesn't have any remap info for a given channel, I guess it should just output a record where original and remap values are the same, and as discussed before, making active = true.  I'm guessing this is not available yet.  To get people started with a remap file, we'l

[2021-04-20 22:06] wouterdebie commented on #36
Sorry, I forgot to mention this. You can use `/map.json` to give you the current mapping (even if there is none). One thing I realized is that it probably breaks things, because it will interpret the ones that have empty fields as well..

[2021-04-21 01:06] Croq360 commented on #36
I checked map.json with my fuller set of remaps.  I did notice a problem.  Shouldn't this:

[code]

Come through like this?
[code]

And what do you mean, referring to "the ones that have empty fields"?

[2021-04-21 01:16] Croq360 commented on #36
I think I see what you mean by "empty fields".  I tried running locast2tuner with no remapping at all and got some empty values.  Here's an example:

[code]
As mentioned above, I think "3.1 KTVK" for "original_call_sign" should be just "KTVK".

Also, the "empty fields" touches on something I mentioned earlier.  If you don't want to remap a name or number, shouldn't it be okay to just leave it blan

[2021-04-21 14:23] wouterdebie commented on #24
Closing this ticket for now, as discovery is somewhat broken in Emby/Jellyfin/Plex imho. In locast2plex it seems SSDP is implemented to generally discover it as a media player and SSDP is not used to discover HDHomerun devices (see https://emby.media/community/index.php?/topic/92566-could-use-some-ssdp-help/&tab=comments#comment-1010964), but instead UDP datagrams are broadcast on port 65001. I to

[2021-04-21 14:23] #24 closed

[2021-04-21 14:43] wouterdebie commented on #36
A few updates and comments:

- I've added the additional field `remapped` to the json. This indicates if a remap should actually be applied. This allows you to dump the json and feed it to locast2tuner. This prevents us from having empty fields because of the remap.
- Regarding the call sign: The callsign always includes the channel number. This is data we get from Locast. In certain places (e.g.`

[2021-04-21 15:38] wouterdebie commented on #36
Aight, I went ahead and removed the channel number from the call sign when building the stations. This in general makes more sense. @Croq360 could you test this? I walked through the `epg.xml`, `tuner.m3u` and `lineup.json` and things seem like they need to be as far as I can see.

[2021-04-21 15:58] Croq360 commented on #36
I'll check out the changes with the "remapped" value.  It's a shame we can't just have the logic be "if there's a value in either of the remap fields, then it's remapped, otherwise it's not".  With the implementation you have here, does that mean you'll have to also set the "remapped" value if you put something in the other two fields?  And how does it interact with the "active" flag?  If I don't

[2021-04-21 16:15] wouterdebie commented on #36
I'm not a big fan of implicit behavior. An empty string should not mean "don't do anything" and it makes cases where you remap the call sign, but not the channel much harder, since we'd have to sprinkle checks for the remapped fields everywhere. I rather have the user state "I would like to remap this channel" (aka `remap: true`) before anything else.
And yes, this means that you'd have to set `re

[2021-04-21 16:43] Croq360 commented on #36
Noted on your comments regarding implicit behavior.  I'm fine with that.  However, if someone is starting fresh on remapping, now they'll have to copy values from original to remap for most names/callsigns.  Let me mess around in the tabulator thing for the editor, and maybe I can have it set or clear those values when you toggle between true/false on the "remapped" key.

You did better than me on

[2021-04-21 16:45] wouterdebie commented on #36
I could set the remapped fields to the original values if the remap file doesn't specify a remap..

[2021-04-21 16:53] wouterdebie commented on #36
I went ahead and set the remapped fields to the value of the original fields when they're not actively remapped. This means that you as a user don't have to fill in things if you only want to deactivate a channel or if you only want to change the channel number, but not the call sign. Let me know what you think.

[2021-04-21 16:58] Croq360 commented on #36
Okay, will take a look, but that sounds great!

Will your program be able to handle this scenario?

1. User sets "remapped" to true and makes a change to channel name or number or both.
2. They update their config file to use the new remap info they set up.
3. User changes their mind and decides they don't want to remap the channel any more, so they set "remapped" to false, but don't change the pr

[2021-04-21 17:05] wouterdebie commented on #36
What happens is that the channel will not be remapped anymore. The `remapped` field is the gate for everything. If it's set to `false` the values that are in the json don't matter at all.

[2021-04-21 17:14] Croq360 commented on #36
Okay, perfect. 👍

[2021-04-22 16:56] Croq360 commented on #36
Testing seems to be going okay so far with my remap file.  Can watch live channels that have been remapped in Plex, Emby, and NextPVR.  Recordings of shows are working in Plex.  Will test the others later.

Working on my remap editor page, more to come there.  Once that's in a state where it works a bit more seamlessly, I'll get a copy sent over to you to review and some documentation, and you can

[2021-04-22 22:24] wouterdebie commented on #36
Thanks for the extensive testing!

Once you have something nice, just send it over and I'll make things work :) If we want the user to have a seamless experience, we might want to provide a web interface regardless. Seems kind of silly to give them a web server, but when they want to modify things they would have to open an HTML file..

[2021-04-23 00:07] Croq360 commented on #36
Agreed.  I should have something soon.  Once it's ready, you and I could maybe get in a chat together and I can walk you through what it does, and how it all functions.

[2021-04-23 15:51] jg-24 opened #43 "Application quit after receiving HTTP 500"
Using locast2tuner 0.1.30 on Darwin 20.3.0

This looks like an opportunity to enhance exception handling and may not be anything that can be replicated easily.  It doesn't appear there was anything in particular that triggered this event, likely something in the upstream locast network that got overwhelmed during high usage.

[code]

[2021-04-23 17:17] wouterdebie commented on #43
One of the things we could do is to just serve the next segment and ignore the error. Once all known segments are depleted we stop the stream.

[2021-04-25 01:28] Croq360 commented on #36
Getting close - should have something for you to look at by Sunday.

[2021-04-26 05:16] Croq360 commented on #36
I just sent you a ZIP file with some documentation on what I created on Emby chatroom (Github's a bit limited on what I can attach).  Let me know what you think (here or there), and we can get it incorporated in.

I'll be happy to create some user documentation once we get it all integrated.

[2021-04-26 21:11] Thunder7ga commented on #7
Glad to hear there is work on a windows package...I am just not Unix/Docker savvy to figure this out.

[2021-04-26 21:36] wouterdebie commented on #7
I might be able to do a quick and dirty one where it just produces a .exe
file that I'll make available for download. Then later I'll have a look at
a proper installer.

On Mon, Apr 26, 2021, 16:11 Thunder7ga ***@***.***> wrote:

[2021-04-26 21:37] wouterdebie commented on #36
Awesome, thanks! I don't have much time this week to work on this, but hopefully I can look at it early next week. Apart from the UI, do you think the functionality is good to go?

[2021-04-26 21:40] Thunder7ga commented on #7
That would be fantastic when you have time.

[2021-04-26 22:08] Croq360 commented on #36
Yeah, honestly, I think the only thing it needs is a way for locast2tuner to load in the current map/remap data.  Everything else should work (or it did anyway with my testing as I was coding up the functionality).

[2021-04-26 23:06] wouterdebie commented on #36
You mean a way to update the map data while running, right?

On Mon, Apr 26, 2021, 17:09 Croq360 ***@***.***> wrote:

[2021-04-27 00:05] Croq360 commented on #36
I guess my impression on how things would work would be this:

1. User runs locast2tuner with no remapping (or I guess they could use the basic remapping).
2. User loads up webpage using locast2tuner local website
3. This loads up the page I created, which pulls in the current mapping information
4. User makes edits as they want
5. User clicks on Save JSON to save the updated mappings to a JSON fi

[2021-04-27 00:18] wouterdebie commented on #36
Interesting... If we allow the user to edit stuff, having them save, upload
and restart seems tedious and giving folks kind of a half-baked solution.
So we could just add uploading the mapping back. The issues though are
permissions to write to disk unauthenticated. And even if we add
authentication (which we probably should), we would need HTTPS, user
management and RBAC.
Let me think about this

[2021-04-27 00:39] Croq360 commented on #36
Sure, let me know if there's anything you want me to test out.  I do agree that having things happen internally would be ideal, but of course, as you say, it needs to be able to save a JSON file to the filesystem somewhere.  Assuming that a JSON file does get saved to the filesystem somewhere, do we want to allow the user to edit that file on their own if they want?  Maybe we don't want to allow t

[2021-04-27 00:46] wouterdebie commented on #36
Editing on the filesystem should be fine, but would require a restart,
which is fine with me.

And you're probably right that we need some validation.. that's not hard to
do.

On Mon, Apr 26, 2021, 19:40 Croq360 ***@***.***> wrote:

[2021-04-27 20:46] wouterdebie commented on #36
I just pushed the `--remap` feature for the command line into `main`. I'll think of the UI solution over the next few days.

[2021-04-27 21:18] Croq360 commented on #36
I think that you left out this on the example:

"remapped": true

[2021-04-27 22:01] wouterdebie commented on #36
What example are you referring to? The example in the commit message?

On Tue, Apr 27, 2021 at 4:18 PM Croq360 ***@***.***> wrote:

[2021-04-27 22:28] Croq360 commented on #36
In the readme.md file and in assets/config.example, it doesn't reference the --remap_file option.  I have committed some changes and will create a pull request (once I figure out the right steps)...

[2021-04-27 22:36] Croq360 commented on #36
@wouterdebie - oops, did I just push the updates in to main?  I thought that it would have put the changes there and then I'd need to create a pull request, but it appears to have updated the documentation/config example already.

[2021-04-28 15:57] jg-24 commented on #43
1 week with the same version running and this hasn't happened again.  I'd say any exception handling to try and account for the HTTP 500 response would be fine to close this and wait to see if it happens again.

[2021-05-04 23:57] RandomNinjaAtk opened #45 "Stuck "Downloading FCC Facilities" ... (v 0.1.31)"
Won't start, see log data below:
[code]

[2021-05-05 00:04] wouterdebie commented on #45
It seems like the FCC site is having issues. It might be good to ignore errors if we have an older facilities file already.

[2021-05-05 00:59] scotte commented on #45
Same issue here - looks like there was a locast2plex issue for this about 3 weeks ago, then it started working again, but now it has once again started happening - for me it started about 3 hours ago.

[2021-05-05 02:41] wouterdebie commented on #45
@scotte good points. I'll probably implement this tomorrow. The FCC URL where I download from has given me headaches because of SSL and I'm considering mirroring the FCC database on a different site as well.

[2021-05-05 03:57] wouterdebie commented on #45
I quickly mirrored the facilities on GCS, which is at least something. I'll create a proper mirror tomorrow and will implement the recommended items, but 0.1.32 should at least start again.

[2021-05-05 08:29] lawrence1986101 commented on #45
im Having the Same issue and I Narrowed it down to a few things the older version you were able to manipulate the zip code so let's say you lived in an area that didn't have Locast you could pop in a zip that would think it's from that area... but now the DMA Trigger on local stating you aren't were your suppose to be.... this is really bad when you think about it because I think Locast computer s

[2021-05-05 10:32] RandomNinjaAtk commented on #45
@wouterdebie Thanks!
@lawrence1986101 I just pushed an update for the Unraid container, check for updates in the next 20 or so minutes and it should have the latest fixes.

[2021-05-05 10:38] RandomNinjaAtk commented on #45
I can confirm, after building my new image with the updated software, everything is working again!

Thanks!

[2021-05-05 10:38] #45 closed

[2021-05-05 11:07] lawrence1986101 commented on #45
Works nowSent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: RandomNinjaAtk ***@***.***> Date: 5/5/21  6:32 AM  (GMT-05:00) To: wouterdebie/locast2tuner ***@***.***> Cc: lawrence1986101 ***@***.***>, Mention ***@***.***> Subject: Re: [wouterdebie/locast2tuner] Stuck "Downloading FCC Facilities" ... (v 0.1.31) (#45)
@wouterdebie Thanks!
@lawrence1986101 I just pu

[2021-05-05 13:52] wouterdebie commented on #45
Is there any reason for you not to use the docker image we're already building?

[2021-05-05 14:55] wouterdebie commented on #45
@RandomNinjaAtk do you need to rebuild manually every time I upgrade? If so, I wouldn't mind adding your config for a specialized Docker build.

[2021-05-05 19:20] #43 closed

[2021-05-05 19:44] lawrence1986101 commented on #45
Ninja I was using a older version of the locast docker. I upgraded last time to yours and it didn't work..... it had that fcc bullshitSo who ever touched that and fixed that fcc thank youSent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Wouter de Bie ***@***.***> Date: 5/5/21  9:53 AM  (GMT-05:00) To: wouterdebie/locast2tuner ***@***.***> Cc: lawrence1986101 *

[2021-05-06 02:10] scotte commented on #45
All good here as well. Thanks for the fix @wouterdebie

[2021-05-10 02:09] lawrence1986101 opened #46 "New issues 5/9/2021"
Locast or your docker is Haveing an issue again

config selected = /config/config
May 09 22:03:30.417 INFO locast2tuner 0.1.33 on Linux 5.10.19-Unraid starting..
May 09 22:03:30.418 INFO UUID: 78e455a6-39fc-456b-8279-bb4a2c7e3f2f
May 09 22:03:30.418 INFO Logging in with lawrence.crandall@yahoo.com
May 09 22:03:30.603 INFO Login succeeded!
May 09 22:03:30.950 INFO Using cached FCC facilities at /ro

[2021-05-10 02:22] scumola commented on #46
I'm also getting this error.

[2021-05-10 03:37] jg-24 commented on #46
Ditto...

Application failed because EPG missing field `showType`

Obviously not the application's fault, but ideally a worker failing shouldn't bubble up to make the application exit.

[code]

[2021-05-10 03:44] wouterdebie commented on #46
Interesting. I'll make this field optional tomorrow..

On Sun, May 9, 2021, 22:38 Jeff ***@***.***> wrote:

[2021-05-10 03:45] jg-24 commented on #46
Since the offending column was so far out (2115084), I changed EPG days to 3 instead of the default 8 and it started up.  Maybe by the time the offending day gets closer, the source data will be fixed.

Added to config:
[code]

[2021-05-10 04:01] danlo315 opened #47 "Docker error at start"
Hello - the docker container just started this error on startup:

May 10 03:57:56.184 INFO Using cached FCC facilities at /root/.locast2tuner/facilities,
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: reqwest::Error { kind: Decode, source: Error("missing field `showType`", line: 1, column: 205453) }', src/service/mod.rs:333:10

[2021-05-10 04:01] #47 closed, assigned to nobody

[2021-05-10 04:02] wouterdebie commented on #47
Duplicate of #46

On Sun, May 9, 2021, 23:01 danlo315 ***@***.***> wrote:

[2021-05-10 14:24] jg-24 commented on #46
This could just be a function of the listing information not being available to locast, so making that one field optional may not solve the issue.  It may be better to see if there are even "listings" present before trying to parse additional fields.

I have not been able to manually parse the API call that caused the issue to see the exclusion of the "showType" field when combined with valid data

[2021-05-10 14:54] wouterdebie commented on #46
I just pushed 0.1.34 (which is building as we speak) that contains a fix for this. `showType` should be there, but apparently isn't always. @jg-24, what I meant with optional is making the field `Option<String>`, instead of `String`, so the json deserializer doesn't care if the field is in the json coming from locast.org or not. In the xml template, I now make the `<category>` "unknown" if showTyp

[2021-05-10 15:06] scumola commented on #46
Pulled the latest image.  Fixed for me now.  Thanks!

config selected = /app/config/config
May 10 15:04:19.325 INFO locast2tuner 0.1.34 on Linux 5.4.0-67-generic starting..
May 10 15:04:19.325 INFO UUID: <redacted>
May 10 15:04:19.325 INFO Logging in with <redacted>
May 10 15:04:19.599 INFO Login succeeded!
May 10 15:04:20.079 INFO Downloading FCC facilities
May 10 15:04:20.753 INFO Cached FCC fac

[2021-05-10 15:23] sumocomputers commented on #46
I found the same thing on macOS, using Homebrew and 0.1.33 (debug log below).

Speaking of which, how long does it usually take for Homebrew to update? I am still seeing 0.1.33 when running:

`brew upgrade locast2tuner`

[code]

[2021-05-10 15:38] sumocomputers opened #48 "Enhancement: Support for more retry options on failures & notifications"
I am on 0.1.33 using Homebrew on macOS.

I have run into certain issues where locast2tuner fails for some reason, and since my Mac Mini is headless I have no idea whether locast2tuner is running or not. And let me tell you, when you can't provide your wife with reliable Jeopardy recordings, life is slightly less sweet.

For example, in my logs down below, I had an issue with my internal PiHole DNS

[2021-05-10 15:49] wouterdebie commented on #46
@sumocomputers for some reasons building homebrew failed and I'm investigating right now what's up with that.
@lawrence1986101  Just know that the unraid images are not built by me and afaik, they need a version bump in order to fix things.

[2021-05-10 16:58] wouterdebie commented on #46
@sumocomputers the build broke because I had removed vendored tls, but I've reverted that. 0.1.37 should be available for all platforms now.

[2021-05-10 17:01] jg-24 commented on #46
Does the build automagically update https://github.com/wouterdebie/homebrew-repo ?

[2021-05-10 17:07] Croq360 commented on #48
FWIW, the Windows Service solution I'm currently using has some restart parameters set too.

[2021-05-10 17:12] eiddor commented on #48
Agreed with that approach both for full process restart and especially for notifications.  I know @wouterdebie has added some retry behavior/error handling inside of the app itself and I'm sure that's always a WIP.

[2021-05-10 17:21] sumocomputers commented on #48
I am using HomeBrew on macOS. I hear you on not wanting to reinvent the wheel.

For at least the restart functionality, would the article linked/Ubuntu apply to macOS via HomeBrew?

If not, I guess I could look at Docker, though I have never really done anything with it. The HomeBrew method seemed very easy and comfortable to me, so I just stuck with it.

[2021-05-10 17:27] eiddor commented on #48
So, I haven't tried the HomeBrew version yet and I'm not really sure how it operates, but I wonder if you can run it as a service as in this guide:

https://thoughtbot.com/blog/starting-and-stopping-background-services-with-homebrew

Docker is easy, too, FWIW.  I think you have some options.

[2021-05-10 17:30] sumocomputers commented on #48
Thanks for the info. I think I will try to get a Docker version up and running; sounds like it opens up a lot of options

[2021-05-10 17:38] wouterdebie commented on #46
It does. The build process in locast2tuner triggers a pipeline in the homebrew repo as well.

Gotcha. That is the way to do it, but since the build was broken, it might not have updated correctly. I wonder if it makes sense to add a specific unraid image to this repo, so there's no manual intervention when I bump the version.

[2021-05-10 17:58] eiddor commented on #48
I don't want to clutter this issue up anymore, so feel free to ping me directly!

[2021-05-10 18:00] #48 closed, assigned to nobody

[2021-05-10 18:05] jg-24 commented on #46
- "brew upgrade" to 0.1.37 worked
- removed "days = 3" constraint from config
- application started just fine

[2021-05-10 18:41] RandomNinjaAtk commented on #46
Unraid image is up-to-date

[2021-05-10 18:46] #46 closed

[2021-05-10 19:20] wouterdebie commented on #46
@RandomNinjaAtk would it make sense to incorporate the unraid image build in this repo? I'd be more than happy to port it over.

[2021-05-10 19:35] RandomNinjaAtk commented on #46
Sure

[2021-05-11 00:50] scotte opened #49 "Panic due to missing field "showType""
I had a crash in `locast2tuner` where it looks like the parser could use a little more resilience and permissiveness in parsing:

[code]

I have no idea about the data that failed parsing except that `locast2plex` didn't crash when I switched back to it - however I also got locked out of locast for a bit (my systemd unit retry after crash was too agressive at 30 seconds) so I can't guarantee the b

[2021-05-11 00:52] scotte commented on #49
Whoops, should have checked BEFORE creating this issue that it was now resolved. Sorry about that!

[2021-05-11 00:52] #49 closed

[2021-05-12 14:07] kblair1 commented on #7
First Thanks to the contributors to this project. I wish I was still sharp enough to keep up with  all the new tools you use on these projects. I run a windows server with Plex and Channels running parallel using Python Locast2plex as tuners. The only issues I have is I live in a location that is not served by over the air tv or a Locast region. I have to use a VPN In order to receive Locast. Usin

[2021-05-12 15:42] wouterdebie commented on #7
@kblair1 thanks for your kind words!

I'm still working on a windows version (on the windows branch), but since I'm not very versed in windows, it's a bit tricky. To get a single .exe file, you can compile locast2tuner on windows, which should be explained in the readme.

[2021-05-12 18:48] Croq360 commented on #7
@kblair1 - as @wouterdebie mentioned, there are instructions on how to get the files and the commands to run to build it.  They work in Windows to create an executable file.  Note that it'll be buried down a few directories below where you do the build command.  Once you have that working, you can even use one of the service installers (like WinSW) to get it running as a service.  So far, that see

[2021-05-16 19:20] gedster314 opened #50 "Merging M3U lists"
I think a nice feature would be the ability to append other m3u lists to the tuner.m3u list.  Maybe have the ability to enter web addresses to pull m3u you files from and merge them into the tuner.m3u.  As an example I would like to pull this in and append it to the tuner.m3u.

https://iptv-org.github.io/iptv/languages/eng.m3u
--

<br class="Apple-interchange-newline">

[2021-05-18 19:40] sumocomputers opened #51 "Docker on Mac exits with error 139 (Probably not a Bug)"
I have absolutely zero experience with Docker before trying this, so it is likely to be user error.

I did follow the instructions pretty closely, and for some reason I don't think the Docker image is starting up. This is what I ran exactly:

[code]

Couldn't find the tuner at 127.0.0.1:6078 using Plex add manually, and didn't know how to tell the status of the Docker Container from the command li

[2021-05-18 19:46] eiddor commented on #51
@sumocomputers You should be using `-p 6078:6077` in the CLI. By default locast2tuner will try to attach to port 6077 inside the container and you're telling docker to map 6078 on your host to 6077 in the container.

Give that a try first.

[2021-05-18 19:51] sumocomputers commented on #51
OK, so I deleted the container and recreated with -p 6078:6077, and still exits with 139.

I did find the log file in the Docker UI, and this is all that it will show when you try to start, and it exits with 139:

`config selected = /app/config/config`

[2021-05-18 19:58] eiddor commented on #51
Just for fun:

`docker ps -a` will tell you if the container is running
`docker attach locast2tuner` will attach you to a running container
`docker logs locast2tuner` will show you the logs and probably tell us what's happening

You can do some stuff from the Mac GUI but I haven't messed with it much.

[2021-05-18 20:03] wouterdebie commented on #51
@sumocomputers is you config valid?

[2021-05-18 20:07] wouterdebie commented on #50
Interesting idea.. However, I'm not sure if I want to do this, since this is not related to locast per se. I don't want locast2tuner to become a "everything-to-tuner". Most of the logic is on the locast side and the fact that you can access it as an m3u is merely a side-effect. There are other projects that could probably merge them or support multiple sources (like https://github.com/fHDHR/fHDHR)

[2021-05-18 20:07] #50 closed

[2021-05-18 21:48] eiddor commented on #51
@sumocomputers Yeah, just copy your Homebrew config file to `~/Downloads/Locast2Tuner/.locast2tuner/config` and you should be good to go.

(Just make sure your port number(s) in the docker command match whatever you put in your config file)

[2021-05-18 23:20] sumocomputers commented on #51
I was able to get it running, and I left the config as default of port 6077 for locast2tuner, and added the tuner as 127.0.0.1:6078 since that is the Docker port, and seems to be working well, so thank you for all the help.

Perhaps we could add a few lines of Docker/Mac instructions for people like me who might come along and not have a clue? I would be happy to write them up.

Now I am on to my

[2021-05-18 23:38] eiddor commented on #51
Feel free to submit a PR if you think something needs clarification!

The doc does show "... edit the file ..." after the curl step, which is what you were missing.

Most folks would general leave the ports as default since they'd only be running one instance of locast2tuner.

Also, my assumption is that a lot of people who end up running the Docker version are already running Docker, but maybe th

[2021-05-18 23:57] sumocomputers commented on #51
I definitely skipped that part as it is a little vague, so maybe I will submit a PR to clarify

I think I found your page, will definitely check it out (especially interested in docker-compose):
https://ccie.tv/tag/getting-started/

[2021-05-18 23:59] eiddor commented on #51
That's the one - Feel free to ping me on Glitter (link on this repo) if you have questions!

[2021-05-19 03:48] #51 closed

[2021-05-20 00:51] jg-24 opened #52 "Application failed with multiple EOF exceptions from different channels"
locast2tuner 0.1.37 on Darwin

While watching channels (locast2tuner running via terminal on Mac) through Plex this afternoon, player failed at various times.  I tried to find something in the Plex logs just to see if I could narrow down a cause and made various Plex configuration changes between restarts of locast2tuner, but there didn't seem to be anything worthwhile to add to this issue.

My gu

[2021-05-20 01:50] wouterdebie commented on #52
This looks like a transient error and we should terminate the steam I think
or retry a few times. The interesting thing here is that the http request
to locast succeeds, but it's apparently incomplete. Not sure why that
happened though. I'll have a look tomorrow and see what we should do here.

On Wed, May 19, 2021, 19:52 Jeff ***@***.***> wrote:

[2021-05-20 15:46] jg-24 commented on #52
I recall many times troubleshooting similar networking issues with an application I made that about half the airplanes built in the last 10 years use to talk to "ground systems" and there's almost never a way to find an exact cause.  One of the symptoms was always items that didn't download completely (EOF exceptions when parsing) even though there were other indicators that the connection was sti

[2021-05-20 16:00] wouterdebie commented on #52
Yeah, something that might have happened is that the HTTP request itself succeeded (i.e. HTTP 200), but the content that was served was less than the `Length: ` header.
I'll actually stop the stream, rather than panicking, since there isn't much time to retry. Locast2tuner doesn't buffer any of the data that is fetched from locast, so a retry wouldn't really help.

[2021-05-20 22:48] lawrence1986101 opened #53 "New issue 5/20/2021"
my OS is unraid well unraid said it had an update now it will not pull the File

TOTAL DATA PULLED: 0 B

root@localhost:# /usr/local/emhttp/plugins/dynamix.docker.manager/scripts/docker run -d --name='locast2tuner' --net='bridge' -e TZ="America/New_York" -e HOST_OS="Unraid" -e 'L2DUSER'='lawrence.crandall@yahoo.com' -e 'L2DPASS'='BadDodge1986' -e 'L2DZIP'='48202' -p '6077:6077/tcp' 'randomninjaatk

[2021-05-20 22:51] wouterdebie commented on #53
This issue belongs here: https://github.com/RandomNinjaAtk/docker-locast2tuner/issues. I don't maintain the unraid image.

[2021-05-20 22:51] #53 closed

[2021-05-20 23:04] lawrence1986101 commented on #53
ok Np
    On Thursday, May 20, 2021, 06:52:09 PM EDT, Wouter de Bie ***@***.***> wrote:

This issue belongs here: https://github.com/RandomNinjaAtk/docker-locast2tuner/issues. I don't maintain the unraid image.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-20 23:13] wouterdebie commented on #53
Also, I don't think that @RandomNinjaAtk actually publishes the image, but I'm not 100% sure. So you'd have to build it before you can run it.

[2021-05-20 23:15] eiddor commented on #53
@lawrence1986101 You might want to change your password now.

[2021-05-21 17:34] lawrence1986101 commented on #53
Ya I will Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Roddie Hasan ***@***.***> Date: 5/20/21  7:15 PM  (GMT-05:00) To: wouterdebie/locast2tuner ***@***.***> Cc: lawrence1986101 ***@***.***>, Mention ***@***.***> Subject: Re: [wouterdebie/locast2tuner] New issue 5/20/2021 (#53)
@lawrence1986101 You might want to change your password now.

—You are receiv

[2021-05-21 18:48] wouterdebie commented on #53
I edited your first post and removed your password as well..

[2021-05-21 19:53] lawrence1986101 commented on #53
thank you i wasn't paying any attention 
    On Friday, May 21, 2021, 02:48:17 PM EDT, Wouter de Bie ***@***.***> wrote:

I edited your first post and removed your password as well..

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-21 19:57] jac91584 opened #54 "Unable To Record"
hi, i'm running locast2tuner with plex, i'm able to add and watch channels but unable to record.  It'll claim it's recording but it doesn't.  I do have a donate account with locast so i'm really at a loss why it's not working.

[2021-05-21 20:01] wouterdebie commented on #54
I'm not sure if this is a locast2tuner issue, since streaming works. However, do you have any locast2tuner logs? Do you see any requests from Plex at the time the recording happens? If you start locast with `verbose = 1`, you should see the different HTTP requests coming from Plex.

[2021-05-21 20:32] jac91584 commented on #54
i made the changes in the config file, is it just locast2tuner --syslog to see the logs?

[2021-05-21 20:37] wouterdebie commented on #54
It depends on how you run locast2tuner.  Do you use the docker instance? Or do you use the ubuntu package? Mac homebrew?

[2021-05-21 21:08] jac91584 commented on #54
I'm using the raspian install

On Fri, May 21, 2021, 4:38 PM Wouter de Bie ***@***.***>
wrote:

[2021-05-21 21:17] wouterdebie commented on #54
it should log in /var/log/syslog then..

[2021-05-21 23:19] jac91584 commented on #54
here are my logs, at  19:15:10 i tried recording.  I don't see anything in
plex indicating it's actually recording and nothing else is in the logs
after that

May 21 19:13:15 raspberrypi locast2tuner[9815]: May 21 19:13:15.327 INFO
Login succeeded!
May 21 19:13:15 raspberrypi locast2tuner[9815]: May 21 19:13:15.853 INFO
Using cached FCC facilities at /var/lib/locast2tuner/facilities
May 21 19:13:1

[2021-05-21 23:30] wouterdebie commented on #54
Yeah, this seems to be a Plex problem. Plex doesn't even seem to start the recording. If you stream and look at the logs it should show you what it looks like.
From the locast2tuner perspective, a recording or a direct stream is exactly the same.

[2021-05-21 23:32] eiddor commented on #54
Agreed - I just tried a recording here from Plex and it worked fine.

Check the Plex logs to see what's happening - If it thinks it is recording and then the show doesn't show up, then Plex is definitely making that decision for some reason.

[2021-05-22 00:17] sumocomputers opened #55 ""Address already in use" error when stopping & starting locast2tuner from terminal (Homebrew/macOS)"
Running Homebrew version on macOS 11 (just went from 0.1.37 to 0.1.39).

Sometimes I need to close locast2tuner from the command line, like to update to a newer version or for other reasons.

I normally just hit Control + X, and then run my normal command like this:

`/usr/local/bin/locast2tuner --config /Users/mediamacmini/Downloads/Locast2Tuner/config.ini`

And sometimes it starts up fine, and o

[2021-05-22 00:24] eiddor commented on #55
@sumocomputers Yeah probably want to give it a few seconds to do what it needs to do in order to gracefully shut down.

You can check to see if it's running with a:

`ps -ef | grep locast2tuner`

I don't have locast2tuner on my Mac, but here's an example of it with iTerm2:

[code]
If you've waited long enough and it's still running, you can do a `kill -9 <pid>` to force kill the process.

In my ca

[2021-05-22 00:26] wouterdebie commented on #55
Why ctrl-x? You should hit ctrl-c to stop it.

On Fri, May 21, 2021, 19:24 Roddie Hasan ***@***.***> wrote:

[2021-05-22 00:27] eiddor commented on #55
(heh I hesitated to ask in case it was some new command that I had never heard of)

[2021-05-22 00:57] sumocomputers commented on #55
Sorry for the typo, it was ctrl-c, lol.

And I waited even a few minutes but it still wouldn’t start back up.

I’ll use those ps and kill commands in the future, thank you!

[2021-05-24 22:04] rtyk opened #56 "EPG & Season / Episode numbers"
Not sure if there is anything that can be done about this, but the epg.xml file from locast doesn't seem to contain any season and episode numbers that are usable by Emby.  I recently switched to m3u tuner and epg.xml and am no longer have the option to "record series" in emby.  Taking a closer look at the program information in emby guide, there are no season / episode numbers.  I'm not sure exac

[2021-05-24 22:08] wouterdebie commented on #56
Strange.. Because the episode number is mentioned twice and seems according to XML-TV spec. I don't have a setup working right now, but I know @Croq360 always tests a lot. Maybe he can help?

[2021-05-24 22:12] rtyk commented on #56
One other item came to mind.  I am using the latest Emby version 4.6.0.50 which was just released.  And I only made the change to the epg.xml after the upgrade was installed.  Haven't tested on an earlier version. Interested in what observations @Croq360 has made.

[2021-05-24 22:20] eiddor commented on #56
Interesting - I'm seeing the same thing in Emby 4.6.0.50:

![image](https://user-images.githubusercontent.com/7586731/119413845-0f31f700-bcb4-11eb-9975-10f61b63663e.png)

Plex, however, does show the information:

![image](https://user-images.githubusercontent.com/7586731/119413880-1e18a980-bcb4-11eb-9bc0-7250548055e9.png)

[2021-05-24 22:27] wouterdebie commented on #56
@eiddor thanks for checking.. do you think it's a regression in Emby?

[2021-05-24 22:27] Croq360 commented on #56
I see those too, but like @rtyk posted, something seems off.  If I click on the show in the guide, I only get the opportunity to record it a single time, no prompting to record the series, all episodes, new episodes, etc.

[2021-05-24 22:29] wouterdebie commented on #56
There are some "fixes" around episode numbers in Emby: https://github.com/MediaBrowser/Emby.Releases/releases

[2021-05-24 22:31] Croq360 commented on #56
Note that the episode numbers are there.  In Plex, I see this:

![image](https://user-images.githubusercontent.com/25014870/119414776-130a4d00-bca5-11eb-92cd-d6857a21ab63.png)

[2021-05-24 22:32] eiddor commented on #56
@eiddor So full disclosure, the only reason I subscribed to Locast and integrated it with Emby/Plex was to be able to contribute to the project to keep my Docker/Git skills current.  I don't actually watch TV haha.

This one seems relevant: "Support SXXEXX episode numbers in xml tv guide data"

[2021-05-24 22:39] wouterdebie commented on #56
I just pushed 0.1.39, which is now building. I added SXXEXX as an additional format for `episod-num` in `epg.xml`. Would you mind testing in 15 mins when the binaries have been built?

[2021-05-24 22:40] wouterdebie commented on #56
@eiddor Haha, pretty much the same here. Outside of NFL season I don't watch TV :) I do enjoy coding though :)

[2021-05-24 22:41] wouterdebie commented on #56
Also, thanks @Croq360 for checking!

[2021-05-24 22:51] Croq360 opened #57 "Device Not Found in Plex (But Still Working)"
I went into settings in Plex to disable a couple of channels, but when I got there, I saw this for my TV tuner (the port number of 6188 is correct):

![image](https://user-images.githubusercontent.com/25014870/119416042-a17fce00-bca7-11eb-97a5-151e78133232.png)

Interestingly, everything still works fine - I can watch live TV and record stuff, and the guide is up to date and goes out the correct n

[2021-05-24 22:55] wouterdebie commented on #57
I don't know how Plex checks for the device being there or not, but I
assume it's by using 65001/UDP, something locast2tuner doesn't do.. let's
keep this on the back burner for now.

On Mon, May 24, 2021, 17:51 Croq360 ***@***.***> wrote:

[2021-05-24 23:11] Croq360 commented on #57
What's odd though is that when I initially configured it, the Tuner showed up fine.  Why would it work some times and not other times?

[2021-05-25 01:19] rtyk commented on #56
I'll try updating to Emby 4.6.1.0 which was released a couple hours ago
"Fix regression in xmltv series identification"
[https://github.com/MediaBrowser/Emby.Releases/releases](url)

[2021-05-25 01:33] eiddor commented on #57
@Croq360 I've had the same problem here for a while - It works fine, but I have that message.

![image](https://user-images.githubusercontent.com/7586731/119426124-48776080-bcce-11eb-8936-0653d13147b9.png)

Funny enough I just restarted Plex to see if it would fix it, and Plex upgraded itself so the UI is a bit different from the above screenshot.  Same issue, though.

![image](https://user-images

[2021-05-25 01:36] eiddor commented on #56
@wouterdebie Latest locast2tuner didn't fix it - The LSIO Emby container hasn't updated yet, but I can test that tomorrow.

[2021-05-25 03:27] Croq360 commented on #56
I updated to latest Emby, no luck here.  Episode numbers still not showing up when you click on a show in the guide, and it's not offering to set up the show as a series recording.  Thinking about backtracking to an earlier version.

I do think this is more an Emby issue than a locast2tuner issue.

[2021-05-25 03:30] Croq360 commented on #57
Hmm, I'm not on that version, and Plex thinks I have the latest version.  Maybe that's the "beta" channel or something?  Anyhow, not the end of the world.  I should be able to just update my remap.json file to mark the channel as inactive.  Just not sure if I'm going to have to delete and reload the DVR/tuner device in order to get the channels to go away.

[2021-05-25 11:48] wouterdebie commented on #56
Yeah, I think it's an Emby issue as well.. Seems like they messed up episode parsing.

[2021-05-25 12:27] wouterdebie commented on #56
Just created a ticket: https://emby.media/community/index.php?/topic/98397-episode-information-not-working/

[2021-05-25 12:41] rtyk commented on #56
I agree that it is likely an Emby issue.  I have just created an Emby test instance and will try to provide some detail for the ticket.

[2021-05-25 13:57] rtyk commented on #56
I built a test system on Emby 4.6.1.0 and was unable to duplicate the problem after many combinations of other tuners and Emby provided epg.  I then upgraded my production Emby to 4.6.1.0 but the issue was still there.  I then removed the xml.epg from Emby, rebooted Emby, and then re-added the locast xml.epg.  After this all appears to be working.  My assumption is that the update to Emby resolved

[2021-05-25 14:01] wouterdebie commented on #56
@rtyk nice find! Emby does cache data quite a bit, so it makes sense that purging and re-adding the source works.

[2021-05-25 14:03] eiddor commented on #56
I can confirm - For me, it fixed itself overnight by itself (no upgrade or changing the source.

![image](https://user-images.githubusercontent.com/7586731/119511431-0551d780-bd38-11eb-911c-20ca38e15fe6.png)

[2021-05-25 14:09] Croq360 commented on #56
Yeah, it seems that upgrading to 4.6.1.0 and having the EPG reload solved the issues I was seeing...

![image](https://user-images.githubusercontent.com/25014870/119512486-33c7b680-bd28-11eb-92f3-d6199281599f.png)

[2021-05-25 14:57] rtyk commented on #56
This seems to be resolved.  I'm closing the issue.

[2021-05-25 14:57] #56 closed

[2021-05-26 16:52] #55 closed

[2021-05-26 16:58] sumocomputers opened #58 "Error code -9806 connection closed via error"
Not sure what the cause of this error is, but it just bombed out...

[code]

[2021-05-26 17:31] wouterdebie commented on #58
This looks like another transient error that shouldn't break locast2dvr. I'd be curious to see where exactly this happened (i.e. the backtrace). Can you reproduce the error?

[2021-05-26 18:01] sumocomputers commented on #58
I think this happened once or twice before, but I can't repro this.

If I turn logging to max, will that do the job if it fails again?

In the meantime, I am running Docker container in parallel as a backup to Plex (and Plex just announced today that they support multiple zip codes & EPGs when you have multiple tuners).

I am off to try it out!

[2021-05-26 18:03] wouterdebie commented on #58
Great! any extra logging will help. I want to see what actual call resulted in the issue.

[2021-05-26 18:06] sumocomputers opened #59 "Not a Bug: How to find version & update locast2tuner for Docker"
I am trying to understand the best way to know the version of locast2tuner running in Docker on Mac.

I have gone into the Docker Container command prompt, which dumps me to /bin/sh, but when running `locast2tuner -h` for example, it just says`locast2tuner not found`

Also, what is the best way to update to the latest version of locast2tuner for Docker? I just wasn't sure if stopping and starting

[2021-05-26 21:03] eiddor commented on #59
@sumocomputers

To get the version from inside of the container, you can run `/locast2tuner -V`

[code]

To update a Docker container is a little bit annoying, but basically you're going to do this:

Pull the latest version of the locast2tuner container image:

`docker pull ghcr.io/wouterdebie/locast2tuner:latest`

Stop the existing container:

`docker stop locast2tuner`

Remove the existing conta

[2021-05-26 22:46] sumocomputers commented on #58
I have trace logging on, and will update if I see it again

[2021-05-26 23:10] sumocomputers commented on #59
Thanks for this great info.

I will check out your post on docker-compose, since that seems to be a much better method.

[2021-05-27 15:56] wouterdebie commented on #58
I made a stupid mistake that kept us from retrying when HTTP occur.. I pushed a change and 0.1.41 is now building. Should be there soon. @sumocomputers would you mind testing that version?

[2021-05-27 15:58] wouterdebie commented on #57
Afaik, plex reloads the lineup.json on a regular basis, which should allow for updating your channel remap without having to remove and add the tuner..

[2021-05-27 16:05] sumocomputers commented on #58
I will get it installed, keep trace logging on, and report if I see any issues.

[2021-05-27 16:07] eiddor commented on #59
@sumocomputers I got bored and figured I'd help you get started with docker-compose.  Based on your `docker run` command from #51

`docker run -p 6078:6077 -v ~/Downloads/Locast2Tuner/.locast2tuner/:/app/config --name locast2tuner -d ghcr.io/wouterdebie/locast2tuner:latest`

Here's what your `docker-compose.yml` file should look like:

[code]

[2021-05-27 16:08] eiddor commented on #59
Hahaha man we posted those at the same time - I'm glad you got it going!

Now you'll make the `docker-compose pull` and `docker-compose up -d` as part of your routine :-)

[2021-05-27 16:16] sumocomputers commented on #59
The only thing I changed was:

`restart: always`

And I already used the 2 commands to update to 0.1.41 and it worked awesome!

[2021-05-27 16:28] eiddor commented on #59
That's great!

So, the only reason I use `unless-stopped` instead of `always` is because I might want to test with a different version (in a different `docker-compose.yml` file), without conflicts between reboots or sometimes I don't want a container to run for a while (ie. one that connects to my NAS).

[2021-05-27 16:32] wouterdebie commented on #59
Maybe we should have section in the `README` about updating?

[2021-05-27 16:38] eiddor commented on #59
Yep! I will work on something when I get home later this week.

[2021-05-27 16:39] wouterdebie commented on #59
@eiddor sweet! Thanks!

[2021-05-30 20:28] jg-24 commented on #54
Not sure how new your install is, but the whole Plex ecosystem seems to need you to log out and log back in to recognize your paid-for account in different parts of the system.  I recall doing that a few times across web browser and the Plex application (along with restarts of Plex) trying to get the DVR to show any recording buttons after I first installed it.  As Wouter de Bie said, from the loc

[2021-05-30 22:24] MapGuy11 opened #61 "Donation expired! Make sure you have an active donation at locast.org!"
I am having this issue with all of these locast2plex dockers. I can confirm I don't need to see ads on Locast and my streams don't disconnect after 15mins either.
My look on Locast.org: [https://i.imgur.com/4gMtPRz.png](url)

[2021-05-31 04:40] wouterdebie commented on #61
Do you pay locast every month? The API returns that you don't have an active donation going..

[2021-05-31 15:23] MapGuy11 commented on #61
Yes, I have had this problem where it will work beautifully in locast.org, but the API returns that I don't have a sub though will serve me a URL that doesn't have ads or disconnect after 15mins.

[2021-05-31 22:14] wouterdebie commented on #61
I'm afraid there isn't much we can do about this..

[2021-05-31 22:14] #61 closed

[2021-06-01 15:44] wouterdebie commented on #54
Closing this, since this doesn't seem to be a locast2tuner problem, but a Plex issue.

[2021-06-01 15:44] #54 closed

[2021-06-04 17:50] kblair1 commented on #7
I want to say thanks again. I was able to to create an .exe for my windows machine use. I am using shortcut command line and multi config files to load 3 instances each with a different port for Plex, Emby and Channelsdvr. Plex and Emby work great but Channels loads the Hdhomerun device, loads guide but fails to play or record with several javascript  video player errors with reconnecting till fai

[2021-06-04 18:35] Croq360 commented on #7
With Channels DVR, why couldn't you just use the M3U feed?  I've seen people using M3U feeds of Pluto TV and some other IPTV feeds, so theoretically, locast2tuner could work the same way.

[2021-06-04 18:36] wouterdebie commented on #7
Good to hear it works. I'm curious why you'd use multiple instances on different ports?

[2021-06-05 00:21] kblair1 commented on #7
I am not very familiar with load capabilities of tuner apps. and thought it might make easer to troubleshoot. Did try M3U a couple of times but no love.

Get Outlook for Android

From: Wouter de Bie ***@***.***>Sent: Friday, June 4, 2021, 12:36 PMTo: wouterdebie/locast2tunerCc: kblair1; MentionSubject: Re: [wouterdebie/locast2tuner] Packages for MacOS, Ubuntu, Windows and Docker (#7)
Good to hear

[2021-06-05 15:48] wouterdebie commented on #7
locast2tuner is multi-threaded and should be fine with running multiple clients and multiple streams (one of the reasons I rewrote locast2dvr from python to rust).

[2021-06-05 16:00] wouterdebie commented on #7
I just tested channels and it doesn't work well as an HDHomerun device, but m3u works well with the following settings:

![image](https://user-images.githubusercontent.com/172038/120897713-301c1580-c5ed-11eb-9f5b-925f67ee4640.png)

[2021-06-05 16:25] Croq360 commented on #7
Yeah, that's the settings I would have tried.  I don't have Channels - just can't seem to justify the $8 a month for their service.  I keep checking it out to see what's new though...

[2021-06-06 16:54] kblair1 commented on #7
Thanks again for your guidance. In just over two and a half weeks a 74 yr old with no formal programming experience was able to compile your rust locast2tuner program into an EXE to run on windows using task scheduler unattended startup. I was able to able to eliminate my VPN increasing my bandwidth on my wireless internet connection and correct my remote connection problems with channelsdvr and P

[2021-06-06 16:56] kblair1 commented on #7
It also worked well with Emby in windows, Al on a single instance of the exe.

[2021-06-06 18:13] wouterdebie commented on #7
@kblair1 great to hear!

[2021-06-10 21:45] sumocomputers commented on #58
I had this running for a few days, and never saw the issue come back. I think it should be OK to close it now.

[2021-06-10 21:50] wouterdebie commented on #58
@sumocomputers great! Thanks for checking back in!

[2021-06-10 21:50] #58 closed

[2021-06-10 22:05] sumocomputers opened #62 "How to handle valid Zip Code that becomes invalid to Locast.org?"
I had a situation where I had been using a valid Los Angeles Zip Code (90009), then at some point it seems Locast.org didn't see that as a valid Zip Code, returning this:

`'204 No Content' for https://api.locastnet.org/api/watch/dma/zip/90009`

So upon reboot of my machine, locast2tuner failed to start up correctly. I even have it running in a Docker container with `--restart always` so of course

[2021-06-11 13:29] wouterdebie commented on #62
Interesting use case.. We could do the pairs, or provide an array of zip codes. However, a HTTP 204 doesn't necessarily mean that the zip code became invalid. Another way would be to define zip code ranges and trying to find a correct one.

[2021-06-11 16:00] sumocomputers commented on #62
I guess “invalid” was a poor choice of words, but for whatever reason Locast.org returned something that caused locast2tuner to quit.

I like the Zip code range idea.

Not sure if Locast.org provides a list of cities and/or associated zip codes that is supports through their API, but that could also be a cool option: locast2tuner queries Locast.org periodically and for people who only care about a

[2021-06-11 16:05] wouterdebie commented on #62
When I started implementing, l looked for exactly that. Locast doesn't expose their zipcode mapping unfortunately. The best interface would really be to just tell locast2tuner for what city/dma you'd like to run it, but that doesn't seem possible right now..

[2021-06-11 17:42] wouterdebie commented on #62
@sumocomputers just to be clear, did the error you posted show at runtime? Because this function should only be called ones at startup where locast2tuner maps a zipcode to geo coordinates.

[2021-06-11 18:11] sumocomputers commented on #62
Yes I have observed this happening only at runtime, and when using a zip code like 90009, locast2tuner will exit/quit.

[2021-06-11 19:07] wouterdebie commented on #62
do you happen to have the log?

[2021-06-11 19:13] sumocomputers commented on #62
Sure, it is easy to reproduce. I ran this with `verbose = 3` Let me know if I need to do something to get more detailed logs.

[code]

[2021-06-11 19:27] wouterdebie commented on #62
Thanks for this! I was wondering what the behavior was when locast
invalidated the zip code. Did it stop streaming?

On Fri, Jun 11, 2021, 14:14 sumocomputers ***@***.***> wrote:

[2021-06-11 19:39] sumocomputers commented on #62
All I know I had to reboot my Mac mini, and it didn’t record anything that night.

So after digging in, I found it was the zip code issue.

So not sure what happens on the client side, like Plex.

[2021-06-15 05:17] teleflix opened #63 "Help for installations ?"
Hello :)

guy i am trying to install script but almost sure i am doing something worng :(, i have one PC( server) with Ubuntu 14.04 and i am follow this :

# Add the PPA key
$ curl -s "https://wouterdebie.github.io/ppa/KEY.gpg" | sudo apt-key add -
# Add the locast2tuner repository
$ sudo curl -o /etc/apt/sources.list.d/locast2tuner.list "https://wouterdebie.github.io/ppa/sources.list"
$ sudo apt

[2021-06-15 12:20] eiddor commented on #63
@teleflix Can you be a little clearer about what exactly is not working?  Which command fails and what is the message?

I don't believe we're pushing the packages to the older versions of Ubuntu, so you will probably have to build this manually.

Also, Ubuntu 14.04 has been end of support for 2 years and hasn't had any patches or fixes since then.

[2021-06-15 13:37] wouterdebie commented on #63
Yes, given that Ubuntu 14.04 is 7 years old, there's no support for it.

[2021-06-15 13:48] teleflix commented on #63
Hi thanks a lot for respond me :) ok i will install in afew minutes Ubuntu 18 or ubunto 20 :)

[2021-06-15 16:48] #63 closed

[2021-06-16 03:07] teleflix opened #64 "Still getting issues :("
Hello

ok Finally i install Ubuntu 20.04 and this time i install script step by step using this guide

Ubuntu/Debian packages are available for both amd64 and arm7 (Raspbian):

# Add the PPA key
$ curl -s "https://wouterdebie.github.io/ppa/KEY.gpg" | sudo apt-key add -
# Add the locast2tuner repository
$ sudo curl -o /etc/apt/sources.list.d/locast2tuner.list "https://wouterdebie.github.io/ppa/sour

[2021-06-16 04:12] teleflix commented on #64
OK finally is working :) i am getting tuner.m3u but now i am getting one issues uhmmm i mean using stream direct on VLC local works perfect and using since using since one iptv panel inside US  to my this PC inside works fine but since my other iptv load balance that is in canada no work uhmm is detecting geolocalization from my load balance? wear if use my laod balance here near where i am works

[2021-06-16 04:34] teleflix commented on #64
well Finally is working :), but is wear works for about 10 seconds, after use sudo systemctl start locast2tuner report me a list of .m3u i use on vlc and works for about 10 or 20 seconds, when i i refresh or F5 to tiner.m3u report  This site can't be reached :( but i fi run a sudo systemctl start locast2tuner commans will be works again for 10 or 20 seconds again :(

soem suggestion?

[2021-06-16 12:45] wouterdebie commented on #64
What URL do you give to VLC?

[2021-06-16 12:51] wouterdebie commented on #64
And could you provide some logs from locast2tuner?

[2021-06-16 22:22] Croq360 commented on #57
So, with the recent changes to the Live TV stuff in Plex, I deleted and recreated my tuner just as before (though this time I used Plex's ability to map their listings to my channel numbers).  And you get more days worth of listings that way too.  It's still showing up (and it's been a few weeks), so I'm going to close this issue.

[2021-06-16 22:22] #57 closed

[2021-06-16 22:27] Croq360 commented on #36
Hey @wouterdebie - it's been about 7 weeks since we last talked about this.  Do you think you'll have some time soon to circle back on this and take a look at the remap editing?

[2021-06-17 16:28] wouterdebie commented on #36
@Croq360 my calendar is opening up! I'll probably spend some time on this over the weekend! Sorry for the wait.

[2021-06-17 16:43] Croq360 commented on #36
No worries - I'm already set up while I was testing I did when I created the editing screens that I sent you.  And I can always use that for the time being.  Once you get it set up, you only need to deal with new channels, and maybe occasionally checking that a channel you previously included didn't get deleted or something.

[2021-06-17 17:00] wouterdebie commented on #36
Just re-reading this thread and I'm thinking the following:

Since if we use a UI to modify mappings, we will need to store state on the filesystem. In order to make sure that this works, we should do this in the cache directory we already create for caching facilities and store the uuid. Now this might not work well with supplying a json file on the command line through `--remap_file`, since the

[2021-06-17 17:17] Croq360 commented on #36
Yeah, I think that'd work.  We already have a way to get the current remap data (remap.json IIRC).  Any import will need to have some amount of error checking/reporting so people can fix their JSON and retry.  I don't want to force people to use the web based editor, because frankly some big updates to the JSON data could be made with a single search/replace, versus having to change 40-50 or more

[2021-06-17 17:20] wouterdebie commented on #36
Yeah exactly my thoughts. We just remove the command line option and replace that with upload functionality.

[2021-06-17 18:09] wouterdebie commented on #64
I'm closing this issue, given the quality of the feedback is low. I've added an issue template for bugs that should be used to give us as much data about the issue as possible.

[2021-06-17 18:09] #64 closed

[2021-06-18 03:43] teleflix opened #65 "channels on xtream-ui local"
Hello

guys i installed perfect and i am getting stream 6077/tuner.m3u,, now i installed the script in one server and the same time i have installed Xtream-Ui iptv panel  and i used one stream on panel and works :) but only work one channels jejeje, testing the rest of stream all report DOWN but if i test the stream that report down on VLC player works perfect. some suggestion?

my configuration i

[2021-06-18 04:57] wouterdebie commented on #65
Would you mind filing a proper issue? Logs, config, screenshot?

[2021-06-18 04:57] #65 closed

[2021-07-18 19:29] hdmllr opened #66 "Help with Synology Docker Install"
While I have been able to get locast2tuner up and running on a windows linux machine, I am struggling to get it to launch via docker on a synology server.  It fails on the login, so I think I am not mapping the config file correctly when I am launching it with the docker interface.  Can anyone advise on the mount path that I should be using to map the physical config file to the container?

[2021-07-18 19:32] eiddor commented on #66
The app is going to look for the file `/app/config/config`, so you want to map whatever your local directory is to `/app/config/`

[2021-07-18 19:35] hdmllr commented on #66
Thanks eiddor.  This is the mount path that I was trying.  I guess it is something else.   I'll double-check that I have the config file set-up correctly.

[2021-07-18 19:36] eiddor commented on #66
See if you can grab a log from the container and we might be able to narrow it down.

[2021-07-18 19:47] hdmllr commented on #66
![2021-07-18](https://user-images.githubusercontent.com/67057831/126080259-fb284dda-53e8-41a0-8b11-c36d629fb417.png)

[2021-07-18 19:48] eiddor commented on #66
Looks like the config file itself is the problem, but I'm not 100% sure.  If you moved your windows config file over then you may have to remove the CR/LFs.  It might be easier to build it from scratch or start with the default one and edit it.

[2021-07-18 19:50] hdmllr commented on #66
Thanks for the suggestion.  I'll try to build it from scratch as I am only using a few parameters.

[2021-07-18 21:05] #66 closed

[2021-07-27 15:20] johnluber opened #67 "Channels-DVR compatibility"
First, awesome program!  Works very well and great documentation to get it up and running...

Not sure how many of your users use this along side of Channels-DVR but it has been mentioned in their forums at least once or twice.

I set it up today using multiple zip codes and multiplexing and ran into an issue where they require an m3u tag of 'channel-id' in order to be able to uniquely identify ev

[2021-07-27 17:03] wouterdebie commented on #67
I've just pushed 0.1.44 (which should be available in 15 mins or so after it's built) that should have this addition. Let me know if this works.

[2021-07-27 18:56] johnluber commented on #67
Wow, that was very quick!  Yes, I updated and it does seem to work just fine.  If I see anything different I'll let you know, but from I see it should not have problems.

Thanks so much!

[2021-07-27 19:45] wouterdebie commented on #67
@johnluber Thanks for the reply! And thanks for the feedback!

[2021-07-27 19:45] #67 closed

[2021-07-28 02:04] RetiredPoppy commented on #36
I love locast2tuner and use it with Plex. I have it configured for 2 zipcodes using override, multiplex, and channel remap. When setting up the tuner, I can see the remap for the channels for the 2nd zipcode (100 plus on those channels). However, when Plex sets up the guide, any 100 plus channels show as their original channels (example: 105.5 shows as its original channel number 5.5). My Plex Med

[2021-07-28 19:20] wouterdebie commented on #36
@RetiredPoppy I'm not sure how Plex uses the data. If I look at remapped data with two zip codes, I see all the data is remapped properly (in `/tuner.m3u`, `/lineup.json` and `/epg.xml`) and there isn't a mention of the old channel number anywhere. Also, are you using the XMLTV from locast2tuner or do you configure external sources in Plex?

[2021-07-29 02:58] RetiredPoppy commented on #36
I was using Plex for the guide. When I switched to the XMLTV from locast2tuner, the remap is working properly now for me. Thanks for the response!

[2021-08-01 04:02] gedster314 opened #68 "Update valid zip codes and cities in assets"
Can we get an updated zip code/city list.  Also it would be nice to get the zip codes in the config file updated.

At the time of this request, there were 36 cities.  Here is what is working on my current setup.

98101, Seattle, WA
94102, San Francisco, CA
90210, Los Angeles, CA
85006, Phoenix, AZ
80019, Denver, CO
57701, Rapid City, SD
57103, Sioux Falls, SD
51054, Sioux City, IA
55111, Minneapol

[2021-08-01 05:06] eiddor commented on #68
PR submitted - thanks for the issue!

[2021-08-01 14:20] gedster314 commented on #68
Try connecting before officially before updating.  I think I clip boarded from list with one bad zip code, think it was Houston.  If you want when I get home I can clip board it from the log file.

[2021-08-01 15:23] eiddor commented on #68
@gedster314 If you could test it, I'd appreciate it - I don't really have an easy way to do that right now.

Does Locast publish the list anywhere?

[2021-08-01 16:28] gedster314 commented on #68
Yes, on their page under guide or cities.   No zips though.  I just added to the list of 22 zips in the config file by googling the zips for the new cities and plugging them in.  When ever I get a press release of a new city I add it.On Aug 1, 2021 8:23 AM, Roddie Hasan ***@***.***> wrote:
@gedster314 If you could test it, I'd appreciate it - I don't really have an easy way to do that right now.
D

[2021-08-01 16:31] gedster314 commented on #68
I'll post the related part of my log file in a bit and double check the zips.

[2021-08-01 16:31] eiddor commented on #68
Ahhh - Maybe what I'll do is add a URL to those files for reference so that users can always get an updated list, and then every once in a while I can update the zip codes when there are a bunch of new cities.

FWIW - Houston's zip code is correct according to Google.

[2021-08-01 18:37] gedster314 commented on #68
Here is the working config file line:
override_zipcodes=["98101","94102","90210","85006","80019","57701","57103","51054","55111","75001","77002","60018","46077","30301","33602","33125","33403","20002","21206","19103","18505","10009","02115","53558","32789","28102","95605","44102","43016","48201","53202","97086","00909","27545","37660","15120"]

No log file data, it was easier to get it from the co

[2021-08-01 18:48] eiddor commented on #68
Yeah, I've never used the override function, but I imagine passing every zip code is going to be a lot.  As I mentioned, they're only provided in those files as a reference.

There were only three difference between what I already had, so I'm updating those and pushing.  I'm also including a reference to the actual Locast page:

`# Please see https://www.locast.org/dma for a current map of the sup

[2021-08-01 19:03] gedster314 commented on #68
I use the overide even with one zip code because I'm using an At&t hotspot and sometimes At&t will give me a Phoenix ip address which gets me Phoenix Locast channels.  Visible use to route my traffic to a mid-west server that was not a Locast location.

[2021-08-01 19:13] eiddor commented on #68
Makes sense, I think one zip code is the intended use - Honestly I've only ever used Locast to help with this project, so I don't have a ton of experience with the options here.

PR has been update - I appreciate you opening the issue!

[2021-08-01 19:17] wouterdebie commented on #68
I just merged the PR

[2021-08-02 16:36] wouterdebie opened #70 "Compilation caused by hls_m3u8"
Compilation fails with:

[code]

Opened an issue at https://github.com/sile/hls_m3u8/issues/65

[2021-08-02 16:37] wouterdebie commented on #70
@Croq360 You might want to follow this

[2021-08-02 21:34] okc commented on #62
90009 is a Post Office at Los Angeles International Airport.  It appears to be only valid for PO Boxes.  So it doesn't have a geographic delivery area.  Not sure how Locast uses ZIP codes but just pick another.  HTTP 204 is No Data - valid but nothing returned.

[2021-08-02 21:45] wouterdebie commented on #62
I tend to use 90210 for LA :)

[2021-08-02 23:44] sumocomputers commented on #62
My point was that 90009 was a working zip code at one point (as far as Locast was concerned), but then that changed, and that caused locast2tuner to quit. There is no reason why Locast might return a 204 for another zip code in the future, and @wouterdebie has already marked this issue for "enhancement".

For now I have backups in the form of multiple Docker containers running 3 different zip code

[2021-08-03 18:27] wouterdebie commented on #70
This issue should be fixed with 0.1.45.

[2021-08-03 18:27] #70 closed

[2021-08-03 21:01] #68 closed

[2021-08-03 21:32] armaros opened #71 "Unable to start container with a service account"
The container fails to start when you attempt to run it with a service account due to a permission value on this line
https://github.com/wouterdebie/locast2tuner/blob/47cc62e1a4881143c37d7737aca338fcc76ebeb1/src/config.rs#L157

Steps to reproduce the behavior:
1. On a Debian machine
2. Create a system user `sudo adduser --system locast`
3. Create the locast2tuner config and docker config file in `

[2021-08-03 21:48] wouterdebie commented on #71
I'm not a Docker expert, but it seems that the problem is the fact that you create a system user and for some reason the home dir of that user is `/var/empty`, which is probably wrong. Can you try adding `--home /home/locast` to your `adduser` command?

[2021-08-04 05:37] eiddor commented on #71
That might be it, or the user may have to be created inside the container in `Dockerfile`.

Alternatively, add the locast user to the docker group in `/etc/group` and run docker-compose as that user.

You'd have to get into a shell in the container to really see what's happening.

[2021-08-04 12:09] heyya opened #72 "Was Working Fine. Today Getting Error: Login Failed"
Been working fine. Today, getting Login Failed message.

Message:
thread 'main' panicked at 'Login failed', src/credentials.rs:70:9

[2021-08-04 12:52] tybritten commented on #72
seeing the same:
[code]

[2021-08-04 13:12] wouterdebie commented on #72
First of all, it's somewhat unfortunate that y'all disregard issue templates put in place. With just a message "can't login", there is no way I can debug any of this.

That said, it seems locast.org has changed their login protocol and currently requires a `client_id` to be passed on when logging in. I'll have a look what changes have been made and to see if I can add this.

[2021-08-04 13:58] wouterdebie commented on #72
It seems that locast implemented a captcha with Google ReCaptcha, which is probably hard to beat. I'll investigate more today, but this might be a tough one..

[2021-08-04 14:02] CalebMuhia commented on #72
btw the Google ReCaptcha was already there for a while, i think they just started enforcing it

[2021-08-04 14:29] wouterdebie commented on #72
It seems the api requires a `client_id` and when I just use the one that the browser sends, I get the following message:

[code]

[2021-08-04 15:15] CalebMuhia commented on #72
@wouterdebie strange, sure this wont work for long but i can use their captcha
[code]

[2021-08-04 15:17] jg-24 commented on #72
Though it may not have anything to do with enforcing credential changes that have been lurking under the covers for a while, I can't help but think their new "profiles feature" may have something to do with differentiating a client from a device.  They obviously would need to push out changes across all their platforms before turning on enforcement and I did have to click through some profile-rela

[2021-08-04 16:26] wouterdebie commented on #72
@CalebMuhia Thanks for this! I had totally missed that login request, since there are 2, where the first one is an OPTIONS request and the 2nd one is the actual POST. Now the question is how do we get the client_id and captcha programatically.

@jg-24 good point and it might very well be. That said, the problem remains the same.. We need to get the client_id and captcha in order to log in..

[2021-08-04 16:29] wouterdebie commented on #72
Aight.. I just found out that API calls with anything as a captcha work:

[code]

[2021-08-04 16:54] CalebMuhia commented on #72
@wouterdebie you are right, works for me too, not sure how long that would last, but its great for now, thanks for the infor

[2021-08-04 16:55] scotte commented on #72
Indeed, works for me as well - at least for now...

[2021-08-04 16:57] #72 closed

[2021-08-04 16:58] wouterdebie commented on #72
Alright.. it seems that the client ID is hardcoded in `/static/js/constants.js` (webpack packs this stuff, so it's really found in some main.<something>.chunk.js) and is the same everywhere. I've hardcoded this ID in locast2tuner, but this might break in the future.

[2021-08-04 16:58] wouterdebie commented on #72
Should be fixed in 0.1.46 which is building a I write this.

[2021-08-04 17:27] jg-24 commented on #72
Came up fine for me.  Thanks as always!

[2021-08-04 18:02] wouterdebie commented on #72
Just note there are a few other version bumps, because uploading of debian packages failed. But everything should be good now. That said, I really hope this is not going to break in the future..

[2021-08-04 19:36] scotte commented on #72
Confirming that 0.1.48 is showing up on the PPA for me now. Thanks!

[2021-08-04 19:49] alvin3k commented on #72
hey is there anyway this might work for locast2dvr even though i know its depreciated? Thanks

[2021-08-04 19:55] wouterdebie commented on #72
It will work, but I'm not going to backport it, since I really don't want that project to continue..

[2021-08-04 20:01] alvin3k commented on #72
Okay is it something as simple as making a change in the config file?

And Im honestly trying to convert to locast2tuner since its the current adaptation, however im currently using windows 10 and a noob when it comes to using docker (which is what im trying to run it on through windows for plex). Is it possible to get some assistance setting it up?

[2021-08-04 21:23] wouterdebie commented on #72
@alvin3k you should just upgrade to the latest version. No need for config changes.

[2021-08-04 21:34] alvin3k commented on #72
I did the update command from in the command prompt, but when i try to run it this is the error I get. Started randomly this morning same as with locast2tuner (which is coincidently enough how I found out about this).

C:\WINDOWS\system32>locast2dvr --config C:\Users\redacted\Desktop\locast2dvr-main\config.ini
2021-08-04 17:31:39 - INFO - Main: locast2dvr 0.8.1 running on CPython 3.9.1, Windows-10

[2021-08-04 21:39] eiddor commented on #72
@alvin3k Let's not clutter up this issue with this - If you want to pop into the Glitter (link on the repo page), I can try to help you get locast2tuner running in Windows under Docker.  @Croq360 is running it this way and sometimes shows up there, too.

[2021-08-04 23:35] jeffdiggstx commented on #72
I am unable to login to locast through locast2tuner on RPi. My locast account is good and verified at locast.org. I tried updating and even uninstalling and reinstalling locast2tuner. What am I missing? Thanks.

[2021-08-04 23:39] wouterdebie commented on #72
@jeffdiggstx not sure what you're missing.. Maybe add some more info? What version are your running? What do the logs say? What's you config?

[2021-08-05 02:16] extrapc commented on #62
Was wondering if you could have an option for the DMA #'s instead of zipcode since those don't change?

[2021-08-05 12:55] wouterdebie commented on #62
Unfortunately it's not an option, since eventually you need to supply the
latitude and longitude of your location to locast, which in turn we get
from a zip code. There's nothing that returns a lat/long from a dma.

On Wed, Aug 4, 2021, 21:17 extrapc ***@***.***> wrote:

[2021-08-05 17:21] phobiccarrot commented on #36
Can you explain how to swap to XMLTV for the guide?

[2021-08-05 17:36] Croq360 commented on #36
Yeah, if you remap the channel numbers, like to put all of the networks together, Plex now seems to be showing the real channel numbers.  Before, they would take the channel numbers you defined and display those in the guide.

In the Plex docs at https://github.com/wouterdebie/locast2tuner/blob/main/docs/01_plex.md, there's instructions on how to leverage the built-in EPG data (XMLTV format).

[2021-08-05 23:04] grantbarrett opened #73 "Login issue still recurring under 0.1.48"
This looks like a continuation of #72. Using a newly installed 0.1.48 on macOS 11.5 (using Homebrew), attempts to run locast2tuner from the command line go as follows:

user@Mac ~ % locast2tuner -U "user@example.com" -P "UserPassword123" --rust_backtrace -z 12113 --tuner_count 4 -v 4
Aug 05 15:48:50.777 INFO locast2tuner 0.1.48 on Darwin 20.6.0 starting..
Aug 05 15:48:50.777 INFO UUID: 677cb0ae-d2

[2021-08-05 23:14] grantbarrett commented on #73
Oops. My fault. I miskeyed the password.

[2021-08-05 23:14] #73 closed

[2021-08-06 17:43] sumocomputers opened #74 "Changelog or Version History? Notifications on new versions of locast2tuner?"
This is probably my ignorance on how Github works, but is there a place that shows a Changelog or Version History?

Also, if I wanted to be notified of new versions of locast2tuner, what would be the best way to do that?

Right now I just look at the main "code" page and see if there is a new version for Cargo.lock or Cargo.toml, but figured there is a better way.

[2021-08-06 17:49] eiddor commented on #74
Changelog/version history is mostly handled per-project, but on a project's main page you can see when the last commit was made up at the top:

![image](https://user-images.githubusercontent.com/7586731/128551342-eb2d0520-38df-4505-9e26-341b7da63a7d.png)

You can also click release over on the right to see the list of releases:

![image](https://user-images.githubusercontent.com/7586731/128551406-

[2021-08-06 17:53] sumocomputers commented on #74
Hey Roddie,

Thanks so much for helping a newbie. This is exactly what I was looking for!

Chris

[2021-08-06 17:53] #74 closed

[2021-08-07 15:24] wouterdebie commented on #71
@armaros Any update on this?

[2021-08-08 15:34] n9mdh opened #75 "Locast Captcha issue"
Locast's captcha requirement seems to be preventing locast2tuner from logging in, based on identical reported problems in the locast2plex git -- logins refused, yet accessing locast through their app or website is fine.

Looking at the latest credentials.rs, it does appear that a value ("foo") is present for the captcha, which negates the solution in the locast2plex conversation.

Any ideas?

I'm

[2021-08-08 15:46] eiddor commented on #75
Just tested with the latest build (0.1.48) and it's logging in fine here.

[2021-08-08 17:30] jg-24 commented on #75
locast2tuner 0.1.46 fixed the login issue for me on Aug 4th.  I just upgraded to 0.1.48 and it logged in fine.

I did have a weird issue with Plex not playing any live TV even though the tuner showed connected, but there was a Plex upgrade at the same time.  Double-checked locast2tuner config to make sure no new settings were added and restarted Plex and it all works fine now -- so maybe there's s

[2021-08-08 23:12] wouterdebie commented on #75
No issues here either.. And the difference between locast2plex and locast2tuner is insignificant. The captcha isn't used, so locast2tuner provides "foo" as a value, while locast2plex provides "locast2plex".

@n9mdh can you provide the actual version you're using and perhaps some log?

[2021-08-09 03:41] n9mdh commented on #75
The version involved is the current, 0.1.48.

During the day today, I removed the service and Deb package, then installed again, with no luck. Trimming down the config to bare bones minimum still provided no joy. The error was the panic message that the login had failed.

The machine involved is just a Raspberry Pi 4, so nuking the OS and starting over was pretty simple. After installing locast2tu

[2021-08-10 15:11] #75 closed

[2021-08-13 02:45] eiddor commented on #7
@mbtfeedback So the Docker image is looking for `config` not `config.ini` - Also keep in mind that with Docker Compose you want to map the directory, not the file directly.

To keep it simple, you should be able to put it in a directory inside your current directory (where `docker-compose.yml` lives) called `config` and use this:

[code]
The other problem that Windows users have sometimes is CRLF

[2021-08-13 02:53] mbtfeedback commented on #7
Very good, that worked. I'm used to .ini files I guess. Also, I've used Notepad++ for years, so I think I avoided the CRLF related problems. Thank you!

[2021-08-13 18:53] johnluber opened #78 "Mapping changed"
**Describe the bug**

I use l2t in alongside Channels-DVR and I'm leveraging the multiplex feature to bring in 3 zip codes (Baltimore, Raleigh, and Tampa Bay).  I also use a remap.json file to change channel numbers to be unique since there is overlap between these markets and my own local market.  In this setup I was able to easily identify the guide data within channels to map it to the new chan

[2021-08-13 19:01] wouterdebie commented on #78
Hey! Could it be because of afcc2062? this added a gracenote id to tuner.m3u. I don't use channels myself, so I have a heard time testing this. Can you check if the output of `tuner.m3u` looks sane? As well as `epg.xml`? Also, would you be able to revert to a pre 0.1.50 version and see if that makes a difference?

[2021-08-13 19:21] johnluber commented on #78
Ok, could be.  I reverted my changes to the remap.json and then reinstalled 1.48 which was the previous I had.  After do this everything looks fine again.

Here's a screenshot showing the mapping in Channels and the guide data all looks good.

<img width="769" alt="Screen Shot 2021-08-13 at 3 19 11 PM" src="https://user-images.githubusercontent.com/35867591/129408539-0eeb5a4c-5996-441e-a9ae-c8e5e2

[2021-08-13 19:27] wouterdebie commented on #78
Ok, that seems like some regression then. I'm not sure how channels interprets things, but it seems to break with the introduction of  tvc-guide-stationid in https://github.com/wouterdebie/locast2tuner/pull/77. What I could do is make it so you can toggle `tvc-guide-stationid` through configuration.

[2021-08-13 19:29] johnluber commented on #78
Here's 1.48:

tuner.m3u snippet:

#EXTM3U
#EXTINF:-1 channel-id="1621882471770" tvg-id="channel.1621882471770" tvg-name="PBS (Raleigh)" tvg-logo="https://static.locastnet.org/logo/560/1622015677721_PBS.png" tvg-chno="7004.1" group-title="Raleigh", PBS (Raleigh) (Raleigh)
http://192.168.1.33:6077/watch/1621882471770.m3u

#EXTINF:-1 channel-id="1621882493172" tvg-id="channel.1621882493172" tvg-name=

[2021-08-13 19:30] johnluber commented on #78
That sounds fine.  I love this program is really pretty cool what it does.

[2021-08-13 20:04] #78 closed

[2021-08-13 20:05] wouterdebie commented on #78
I've added a`--no_tvc_guide_station` option that disables the field in tuner.m3u. 0.1.52 is building now and should fix the issue.

[2021-08-13 20:10] johnluber commented on #78
Nice!  Thank you!

[2021-08-13 20:18] johnluber commented on #78
Installed 1.52 and set the new flag to true and can confirm the issue is resolved.

Thank you so much for being so responsive!

[2021-08-16 11:17] dgiffen opened #79 "Won't start on Ubuntu 20 after recent update"
*NOTE THAT UNCLEAR BUG REPORTS (i.e. without the information requested below like Aug 16 07:08:39.771 INFO locast2tuner 0.1.52 on Linux 5.4.0-81-generic starting..
Aug 16 07:08:39.771 INFO UUID: 7151e129-3bdf-46b1-81f4-aab466850ef1
Aug 16 07:08:39.772 INFO Logging in with USERNAME
Aug 16 07:08:40.014 INFO Login succeeded!
Aug 16 07:08:40.412 INFO Using cached FCC facilities at /var/lib/locast2tune

[2021-08-16 12:05] RandomNinjaAtk commented on #79
`Aug 16 08:01:09.508 INFO Cached FCC facilities to /root/.locast2tuner/facilities
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: reqwest::Error { kind: Decode, source: Error("missing field `transcodeId`", line: 1, column: 218065) }', src/service/mod.rs:329:10`
Also seeing the same thing...

[2021-08-16 12:55] dgiffen commented on #79
my issue began with the most recent update to the Ubuntu packages.

[2021-08-16 12:57] johnluber commented on #79
I'm seeing the same on my system as well.  Running Ubuntu 20.04 with updates applied yesterday.

[2021-08-16 13:34] danlo315 commented on #79
Filling this out as a bug report (I'm running on docker, same issue):

*NOTE THAT UNCLEAR BUG REPORTS (i.e. without the information requested below like logs, settings, versions, etc) MIGHT BE CLOSED WITHOUT ANY HELP!!*

**Describe the bug**
thread 'main' panic, started around 5am Eastern

thread 'main' panicked at 'slog-scope: No logger set. Use `slog_scope::set_global_logger` or `slog_scope::sco

[2021-08-16 13:49] jg-24 commented on #79
Same issue on mac running in terminal and installed with brew.

Has been running fine since upgrading to 0.1.52 on Aug 14 and failed last night right at 2AM when it logged back in after the token expiring:

[code]

Restart immediately failed with the same error.

[2021-08-16 14:45] #79 closed

[2021-08-16 14:46] wouterdebie commented on #79
0.1.53 has the fix. It's building as I write this and should be ready in 15 mins or so.

[2021-08-16 15:30] Croq360 opened #80 "Errors from Docker (missing field 'transcodeId')"
**Describe the bug**
When the Docker container starts, getting a "panic" error from Locast2Tuner.  Keeps restarting endlessly.  My container was working fine till this morning.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Docker container.
2. Error message occurs and restarts.

** Logs **
Sorry for the weird control characters, this is what's getting saved to the log file from Doc

[2021-08-16 15:32] Croq360 commented on #80
Oh, just saw new version.  Let me try that out and will close if it's addressed.  Seems to reference exactly what I'm seeing.

[2021-08-16 15:35] wouterdebie commented on #80
Yeah, this is fixed in 0.1.53

[2021-08-16 15:40] Croq360 commented on #80
Odd, trying to build new version after "pull" with docker-compose, and it's hanging up.

[2021-08-16 15:52] wouterdebie commented on #80
@eiddor might know :D

[2021-08-16 15:53] eiddor commented on #80
@Croq360 No issues here:

[code]

Try to pull again.

[2021-08-16 15:55] Croq360 commented on #80
I removed my previous container, but here's what I get (note that the Error statement is from me hitting Ctrl-C):

C:\Croq360\locast2tuner-Docker>docker-compose pull
Pulling locast2tuner ... done

C:\Croq360\locast2tuner-Docker>docker-compose up -d
Creating locast2tuner ...
ERROR: Aborting.

And this worked fine before.  And "docker run" command (with updating my /app/config path) works too.

[2021-08-16 15:59] Croq360 commented on #80
Oh, and I deleted all the images in Docker before re-pulling, just in case.

[2021-08-16 16:00] eiddor commented on #80
Try this:

Stop the container (it's probably already stopped).

Run: `docker system prune -a -f`

And then do a `docker-compose pull` and `docker-compose up` (don't use `-d` for this so we can see what's going on).

I'm in Glitter now if you want to work on this.

[2021-08-16 16:06] Croq360 commented on #80
C:\Croq360\locast2tuner-Docker>docker system prune -a -f
Deleted Networks:
locast2tuner-docker_default

Total reclaimed space: 0B

C:\Croq360\locast2tuner-Docker>docker-compose pull
Pulling locast2tuner ... done

C:\Croq360\locast2tuner-Docker>docker-compose up
Creating network "locast2tuner-docker_default" with the default driver
Creating locast2tuner ...

******* And just stays on that last line

[2021-08-16 16:07] wouterdebie commented on #80
can you try `docker-compose --verbose up`?

[2021-08-16 16:10] eiddor commented on #80
Just tried updating/starting on a Windows box and it works fine there, as well.

Have you checked to see if Docker has an update?

![image](https://user-images.githubusercontent.com/7586731/129594937-d95298bc-e38c-4590-902f-031c756a8257.png)

[2021-08-16 16:11] Croq360 commented on #80
No updates showing for docker-desktop.

[2021-08-16 16:15] Croq360 commented on #80
`C:\Croq360\locast2tuner-Docker>docker-compose --verbose up
compose.config.config.find: Using configuration files: .\docker-compose.yml
compose.cli.docker_client.get_client: docker-compose version 1.29.2, build 5becea4c
docker-py version: 5.0.0
CPython version: 3.9.0
OpenSSL version: OpenSSL 1.1.1g  21 Apr 2020
compose.cli.docker_client.get_client: Docker base_url: http+docker://localnpipe
compose

[2021-08-16 16:16] Croq360 commented on #80
That "Pending: set()" just keeps streaming out, over and over.

[2021-08-16 16:18] Croq360 commented on #80
Gonna try a restart - can't hurt I guess...

If I can't get this working, I'll go back to building it manually and running as a service for the time being.

Unless there's a way to pull a Windows executable (which would be much easier of course).

[2021-08-16 16:19] eiddor commented on #80
Yeah, that's weird - Try a reboot (or restart Docker) and let us know.

Found this, but it's not very helpful: https://github.com/docker/compose/issues/7577

[2021-08-16 16:19] wouterdebie commented on #80
Does this help? https://github.com/docker/compose/issues/7577

[2021-08-16 16:25] Croq360 commented on #80
In case I decide to punt on Docker (for now anyway), is there a Windows executable maintained somewhere that I can just download, or do I need to pull the code over and compile it myself?

[2021-08-16 16:25] eiddor commented on #80
You said that `docker run` works, right?  I would just use that for now vs. going the service route.

[2021-08-16 16:26] wouterdebie commented on #80
There's no windows binary being built right now..

[2021-08-16 16:27] Croq360 commented on #80
Yeah, I've got some logging settings going for Docker that does rotating log files, so that it doesn't get excessively huge.  Will have to read the docs on how to get that configured on the command line.

[2021-08-16 16:28] eiddor commented on #80
Paste your `docker-compose.yml` file here - it's pretty easy to translate.

[2021-08-16 16:30] Croq360 commented on #80
`version: '3'
services:
  locast2tuner:
    image: ghcr.io/wouterdebie/locast2tuner:latest
    container_name: locast2tuner
    volumes:
      - C:/Users/Croq360/.locast2tuner:/app/config
    ports:
      - 6077:6077
    restart: unless-stopped
    logging:
      driver: "local"
      options:
        max-file: 10
        max-size: 10m
`

[2021-08-16 16:34] Croq360 commented on #80
I figured out the "restart" one.  Looks like I can maybe use "--logging-driver local -log-opt max-file=10 -log-opt max-size=10m" for the logging?

[2021-08-16 16:35] eiddor commented on #80
`docker run -p 6077:6077 -v C:\Users\Croq360\.locast2tuner:/app/config -name locast2tuner -d --restart unless-stopped --log-driver local --log-opt max-file=10 --log-opt max-size=10m ghcr.io/wouterdebie/locast2tuner:latest`

[2021-08-16 16:41] Croq360 commented on #80
This worked for me.  Changed "-p" to "--publish", "-v" to "--volume", and "-name" to "--name".

`docker run --publish 6077:6077 --volume C:\Users\Croq360\.locast2tuner:/app/config --name locast2tuner -d --restart unless-stopped --log-driver local --log-opt max-file=10 --log-opt max-size=10m ghcr.io/wouterdebie/locast2tuner:latest`

[2021-08-16 16:44] eiddor commented on #80
Windows. 🙄

So, the only difference between that CLI and your YAML file is that I used backslashes for the Windows side of the volume instead of forward slashes.  Try changing those in your `docker-compose.yml`

[code]

[2021-08-16 16:45] Croq360 commented on #80
I can give it a try, but forward slashes in the YAML file were working before with no issues.

[2021-08-16 16:46] eiddor commented on #80
I know - Just guessing, as this is the only difference.

If that doesn't work, then I'm not sure what to think.

[2021-08-16 16:48] Croq360 commented on #80
As I suspected, no go with either forward or backward slashes.  Oh well, at least I can do "docker run".  Saved it to a batch file in the same folder where I have docker-compose.

[2021-08-16 16:50] Croq360 commented on #80
I guess we can close this now since I've got it working (though weirdly, the docker-compose thing no longer is working for me).  Thanks for the help!

[2021-08-16 16:50] #80 closed

[2021-08-17 19:45] #59 closed

[2021-08-17 20:23] MichelLopez opened #81 "Stream failing to start"
[Capture for bug template.txt](https://github.com/wouterdebie/locast2tuner/files/7002845/Capture.for.bug.template.txt)
**Describe the bug**
The stream is failing to start

**To Reproduce**
Using Plex the stream is failing to start when launched

** Logs **
2021-08-17T11:01:00.020525907Z config selected = /app/config/config
2021-08-17T11:01:00.047413388Z Aug 17 04:01:00.046 INFO locast2tuner 0.1.54

[2021-08-17 20:33] wouterdebie commented on #81
Look at the error: `The Amazon CloudFront distribution is configured to block access from your country`. It seems like you're using locast2tuner from outside of the US and unfortunately the Cloudfront storage that locast.org is using is configured to not accept requests from where you're located. Unfortunately there's not much we can do here, except for using a VPN.

I didn't know that this was th

[2021-08-17 20:33] #81 closed

[2021-08-18 22:46] crackers8199 commented on #78
oof. wish i had seen this earlier. i'm the one that added the gracenote ID.

@johnluber if you're using channels, you don't need any other EPG other than theirs (i.e. you don't need the EPG that locast2tuner provides). as long as that tvc-guide-stationid is present, you can select X-M3U as the guide provider and it'll use all the data channels already has (based on that gracenote station id).

you

[2021-08-19 00:50] wouterdebie commented on #78
It's all good :)

On Wed, Aug 18, 2021, 17:47 Matt Greco ***@***.***> wrote:

[2021-08-19 16:25] slikone27 opened #84 "Repository gone??"
Trying to start this container for unraid but it appears the repo is gone?

https://registry.hub.docker.com/r/wouterdebie/locast2tuner

404 error

[2021-08-19 16:37] wouterdebie commented on #84
Not sure where you got this from.. I never published to dockerhub.

[2021-08-19 16:37] wouterdebie commented on #84
https://github.com/RandomNinjaAtk/unraid-templates/commit/3c55aaac1ebe484f4b17e34efd3bacee263e2e7c Might have something to do with this though, but I don't maintain that.

[2021-08-19 16:54] slikone27 commented on #84
Thanks... just noticed that.  Changing the repo field to: ghcr.io/wouterdebie/locast2tuner-unraid:latest seemed to do the trick and now it is working.  does using multiple zip codes pull channels from those markets as well?

[2021-08-19 17:19] RandomNinjaAtk commented on #84
yes it does

[2021-08-19 17:23] slikone27 commented on #84
Thanks!  Should I have changed the repo in your unraid container to make it work?  not sure why it threw the error that it was trying to pull from docker and couldn't find it.

For multi-region if I use multiple zip codes... can i get a channel say CBS in both markets to watch live sports from both?

[2021-08-19 17:44] wouterdebie commented on #84
yes you can.. somewhat off topic for this thread, so I'll close this issue.. If you want user help, please don't hesitate to join us on Gitter

[2021-08-19 17:44] #84 closed

[2021-08-19 18:04] MapGuy11 opened #85 "Account Says Donation Required"
*NOTE THAT UNCLEAR BUG REPORTS (i.e. without the information requested below like logs, settings, versions, etc) MIGHT BE CLOSED WITHOUT ANY HELP!!*

**Describe the bug**
So my Locast account is under the Locast EA/Cares program and since it pretty much as a obscene amount of money that cannot be expired so what happens is it looks for the Donation it says donation expired though the amount in the

[2021-08-19 18:52] wouterdebie commented on #85
Very interesting! I could add an option to bypass the donation check, but I'd be curious to see what data your account holds compared to mine. Would you mind running the following script and paste the output here?
(substitute the username and password)

[code]

Thanks!

[2021-08-19 18:57] wouterdebie commented on #85
In the mean time, I'm looking at the data I get back and it seems that `locastCaresApplicationDate` is returned. In my case it's null, but I'm curious to see what it looks like on your end. I assume that is what will be set if you qualify for Locast Cares.

[2021-08-19 18:58] MapGuy11 commented on #85
{"id":40114,"name":"(email)","created":1541435852000,"password":"","lastlogin":1629399367388,"realname":"","idrole":1,"didDonate":true,"email":"","lastDonation":1550255142000,"donationExpire":1587362400000,"lastDonationAmount":5.0,"totalDonations":5.0,"subscriptionProvider":"paypal","lastDmaUsed":504,"emailConfirmed":true,"parentIdUser":null,"emailOptOut":false,"lastPlayEvent":1629395345676,"signu

[2021-08-19 18:58] wouterdebie commented on #85
I think you missed a piece..

[2021-08-19 19:00] MapGuy11 commented on #85
Ok I'll try again.

[2021-08-19 19:00] MapGuy11 commented on #85
{"id":40114,"name":"connorhackenberg@gmail.com","created":1541435852000,"password":"4a57a7080c562a44223b8bc3e0389ba0","lastlogin":1629399634719,"realname":"connorhackenberg@gmail.com","idrole":1,"didDonate":true,"email":"connorhackenberg@gmail.com","lastDonation":1550255142000,"donationExpire":1587362400000,"lastDonationAmount":5.0,"totalDonations":5.0,"subscriptionProvider":"paypal","lastDmaUsed"

[2021-08-19 20:06] wouterdebie commented on #85
Thanks! Unfortunately there's nothing in the data that tells me that you have a Locast Cares account. What I'll do is add an option that allows you to disable the donation check..

[2021-08-19 20:09] MapGuy11 commented on #85
Thank You that should make it work!

[2021-08-19 20:18] #85 closed

[2021-08-19 20:19] wouterdebie commented on #85
Fixed in 0.2.7. Should be built in a few mins

[2021-08-20 17:10] CTJohnK opened #88 "Issue with multiple postal codes"
I've setup three postal codes in the config file, specified a port of 6080, set the tuner_count to 4, multiplex is off and remap is on.

When I enter the IP:port in the PMS Live TV & DVR, I can access and setup the connection to port 6080.  However, any subsequent attempt to manually connect to 6081 or 6082 just sits and 'spins'.  I do get results back if I call the URL with the 6081 or 6082 port.

[2021-08-21 15:27] wouterdebie commented on #88
Would you mind sharing your configuration? It's hard to tell what you're missing. Same for logs. Any logs to share so we can see what's going on?

[2021-08-21 15:30] cahiatt opened #89 "Be able to run a second container/instance in Docker for Windows"
Maybe this feature is arleady there and is just a defeciency in my Docker skills. I'd like to be able to run a second instance for additional tuners. I have TWO paid Locast accounts and would like to run one container for account 1 and the second for account 2.

I've tried changing the container name and ports for the second instance but they will not run together. Starting one just kills the othe

[2021-08-21 15:36] eiddor commented on #89
You should be able to do this without a problem as long as you keep things separated.

Here's what the `docker-compose.yaml` file would look like:

[code]

[2021-08-21 15:45] cahiatt commented on #89
I've done variations of this and get one of two results. It either kills one container to start the second or give an error "(root) Additonal property locast2tuner2 is not allowed".

I'm using the free version of Docker. Is this a feature that needs the paid version?

[2021-08-21 15:49] eiddor commented on #89
It shouldn't, though I don't run Docker on Windows.  Docker shouldn't care.

Can you try that exact `docker-compose.yaml` (add your usernames/passwords), and show me exactly what happens?  I don't have a second account to test this with, but it should _just work_.

[2021-08-21 15:58] cahiatt commented on #89
And that worked. The only difference I had was ports for 2nd account listed as 6078:6078. You have it as 6078:6077 and that one change let them both start.

[2021-08-21 16:23] eiddor commented on #89
Right, the second port is the port _inside_ the container, which will always be 6077 unless you change it in the locast2tuner config.  The first port is the port on the host that will forward to the inside port.

In Plex you'll want to attach to `locast2tuner1:6077` and `locast2tuner2:6078`

[2021-08-21 18:06] cahiatt commented on #89
Thanks. That explained it perfectly.  I appreciate your help.

[2021-08-21 18:06] #89 closed

[2021-08-21 23:18] wouterdebie commented on #62
Alright, I think I've fixed this issue in 0.3.0. I've added `override_cities`, which takes a list of cities. What it does is that it uses https://github.com/wouterdebie/zip_codes_plus to get a list of "standard" zip codes (no PO box, etc) for a city and then picks the first valid one (where the locast response isn't a `204` as in the first post of this thread _and_ the zip code is active).

I've a

[2021-08-21 23:21] #62 closed

[2021-08-21 23:22] wouterdebie commented on #88
One thing is that `remap` only works with `multiplex` on.

[2021-08-22 01:14] dwilson1251 opened #90 "Multiple zip codes (multiplexing not working) after update from v0.2.9 to v0.3.0; Unraid custom IP also no longer working"
UNRAID - Docker

No changes to config, multiplexing seems to have stopped working from 0.2.9 to 0.3.0; see logs below.  Also, just noticed that beginning w/v0.2.0 the container no longer respects a custome ip (br0) in Unraid.  This is an issue becasue my plex container uses a custom ip and can't be routed to from either the internal default bridge or a custom one.

Multiplexing and Remap = true

R

[2021-08-22 01:22] dwilson1251 opened #91 "Tuners limited to 3 - this used to be 4"
UNRAID - Docker

Not a configurable item, however at somepoint the default/ limit for tuners was reduced from 4 to 3

[2021-08-22 01:24] wouterdebie commented on #90
@dwilson1251 would you mind posting your config?

[2021-08-22 01:26] eiddor commented on #90
I'll let @wouterdebie help you with the multiplexing thing, but we recently merged the two Docker images together since they're both doing the same thing now, and both images have always bound to `0.0.0.0` (since most people don't know their container IP and it can change) - Were you overriding it with your config file?

[2021-08-22 01:29] wouterdebie commented on #90
Ah, multiplexing isn't broken, but there's an issue with starting multiple instances when using `override_zipcodes`.

[2021-08-22 01:35] dwilson1251 commented on #91
I RTFMed and added - l2t_tuner_count to the config; other issue/bug I reported is still an issue.  However, I do suggest the default be set back to 4 as this is what it was previously.

[2021-08-22 01:35] #91 closed

[2021-08-22 01:36] wouterdebie commented on #90
I found the multiplex issue. Fixed in v0.3.1, which is now building.,

[2021-08-22 01:43] dwilson1251 commented on #90
Figured out the IP thing; for some reason it wasn't showing as connected anymore in plex, and not showing in the unraid UI like you normally do when you config a br0 and a custom IP.  It turned out to be pingable.  However, I think the issue is with v0.3.0, because on v0.2.9 everything seems to be working as it was.

[2021-08-22 01:44] wouterdebie commented on #91
Tuner count is actually 16.. Not sure what the template (that I don't maintain) does..

[2021-08-22 01:45] wouterdebie commented on #90
I'm not sure I understand the IP issue.. the docker image was always bound to 0.0.0.0.

[2021-08-22 01:46] eiddor commented on #90
This seems to be a Plex issue - I have no idea why it does this, but it has done that for a while and things still work.  It makes no sense to me.  There's an issue somewhere open for it.  Nothing with IP binding has changed since the day we created the Docker image(s), though.

[2021-08-22 01:48] dwilson1251 commented on #90
Yeah, no worries there with the IP; seems to be sorted again.

Appreciate the quick response on the multiplexing issue.  Will check back in later this evening and retest.

[2021-08-22 01:51] wouterdebie commented on #90
@dwilson1251 v0.3.1 was just built, so please test it out. Sorry for the inconvenience.

[2021-08-22 01:58] #90 closed

[2021-08-22 02:16] dwilson1251 commented on #90
@wouterdebie - All set; working in both portainer and unraid environments.  Only, template issue seems to be with unraid; if I didn't add the latest tag it didn't pull the latest.  The instructions in the template don't note this so may cause some confusion.  Portainer automatically adds it if it isn't expicity added or includes an alternate.

Again, very appreciative of everyone's work on this; h

[2021-08-22 02:23] dwilson1251 commented on #91
@wouterdebie - apologies about the unraid template issues; wasn't clear about the ownership.  I run your solution in unraid, portainer, and bare metal (arm); family ;-)

Not sure if there is a contribution option; buy you a beer, coffee, etc.  Have a great evening/ rest of your weekend.

[2021-08-22 02:32] wouterdebie commented on #91
@dwilson1251 No worries! I don't maintain the unraid template, but the rest is mine :)

Funny enough, I'm in the process of adding a donation thing to this project! I'm planning on donating it all to projects that support women and underprivileged kids in STEM education.

[2021-08-22 02:38] dwilson1251 commented on #91
@wouterdebie - Count me in

Sorry in advance; you got me looking at the code ;-)  I may be looking at this wrong as I am by no means a modern day dev, but take a look at the following; the config.example indicated a default value of 3 tuners and I'm assuming "(3)" is the default value if it doesn't see a value for <u8>:

https://github.com/wouterdebie/locast2tuner/blob/main/src/config.rs

[2021-08-22 02:38] wouterdebie commented on #90
Good to hear! The unraid template can be found here: https://github.com/RandomNinjaAtk/unraid-templates/blob/master/randomninjaatk/locast2tuner.xml. Maybe the maintainer can improve this? I have no clue how unraid works :)

[2021-08-22 02:40] wouterdebie commented on #91
@dwilson1251 NICE CATCH! Just saying 16 doesn't make it 16 :D Releasing soon!

[2021-08-22 02:42] wouterdebie commented on #91
v0.3.2 baking..

[2021-08-22 15:08] wouterdebie opened #92 "Static linux binaries are much bigger than the Debian/Ubuntu ones"
It seems that the static binaries that are built are 4x larger than the ones in the Debian/Ubuntu packages. It seems this is due to the fact that the latter are stripped of debug symbols. Maybe something to have a look at. Not urgent.

[2021-08-22 15:59] kogren161 opened #93 "There was a problem adding the device: 192.168.254.XXX:6077"
*NOTE THAT UNCLEAR BUG REPORTS (i.e. without the information requested below like logs, settings, versions, etc) MIGHT BE CLOSED WITHOUT ANY HELP!!*

Please check https://github.com/wouterdebie/locast2tuner/releases if any breaking changes have been made before filing a bug report.

**Describe the bug**
Tuner is no longer found

**To Reproduce**
Steps to reproduce the behavior:

1. I am trying to

[2021-08-22 16:17] wouterdebie commented on #93
locast2tuner should give you output.

Would you mind describing how you install locast2tuner? Clearly someting isn't starting at all. How do you configure locast2tuner?

[2021-08-22 16:24] kogren161 commented on #93
I have followed the process described here.  I am remoting in to my Rpi.

Running this command in terminal from a remote desktop connection
curl -s "https://wouterdebie.github.io/ppa/KEY.gpg" | sudo apt-key add -

Then
sudo curl -o /etc/apt/sources.list.d/locast2tuner.list \
   "https://wouterdebie.github.io/ppa/sources.list"
sudo apt update

then
sudo apt install locast2tuner

then these two
sudo

[2021-08-22 16:30] kogren161 commented on #93
pi@raspberrypi:~ $ sudo apt install locast2tuner
Reading package lists... Done
Building dependency tree
Reading state information... Done
locast2tuner is already the newest version (0.3.2).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

When I run start I get this output;

pi@raspberrypi:~ $ sudo systemctl start locast2tuner
pi@raspberrypi:~ $

[2021-08-22 16:30] wouterdebie commented on #93
You should be able to check `/var/log/locast2tuner/locast2tuner.log` to see what's going on.

[2021-08-22 16:32] wouterdebie commented on #93
And to run manually you could try `/usr/bin/locast2tuner -c /etc/locast2tuner/config`. Note that this runs as the `pi` user and not the `locast2tuner` user. But you should get some output in your terminal.

[2021-08-22 16:38] kogren161 commented on #93
When I go to open /var/log/locast2tuner.log, it says "the file does not look like a text file or the file encoding is not supported.  it opens a previously opened text file instead.

[2021-08-22 16:42] kogren161 commented on #93
Yes, manually started and with feedback, but I still cannot connect to the server.

pi@raspberrypi:~ $ /usr/bin/locast2tuner -c /etc/locast2tuner/config
config selected = /etc/locast2tuner/config
Aug 22 09:38:39.810 INFO locast2tuner 0.3.2 on Linux 5.10.52-v7l+ starting..
Aug 22 09:38:39.810 INFO UUID: 1ce0b99e-b5ea-4b19-9588-63a975d77d2b
Aug 22 09:38:39.811 INFO Logging in with XXXX@XXXX.com
Aug

[2021-08-22 16:52] wouterdebie commented on #93
That's an issue with your editor. Not sure what to do there. Use a different editor? Or use `less /var/log/locast2tuner.log`.

That's an actual bug. Let me fix this.

[2021-08-22 16:58] kogren161 commented on #93
when I open /var/log/locast2tuner.log in nano, I get an empty file

[2021-08-22 16:59] kogren161 commented on #93
Thanks so much for your help.

[2021-08-22 17:02] #93 closed

[2021-08-22 17:06] wouterdebie commented on #93
This is fixed in 0.3.3, which is currently building.

[2021-08-22 17:07] kogren161 commented on #93
Sweet,
Thanks again.

From: Wouter de Bie ***@***.***>
Sent: Sunday, August 22, 2021 10:06 AM
To: wouterdebie/locast2tuner ***@***.***>
Cc: kogren161 ***@***.***>; Author ***@***.***>
Subject: Re: [wouterdebie/locast2tuner] There was a problem adding the device: 192.168.254.XXX:6077 (#93)

This is fixed in 0.3.3, which is currently building.

—
You are receiving this because you authored the threa

[2021-08-22 17:07] wouterdebie commented on #88
@CTJohnK could you share some actual config? And some logs perhaps?

[2021-08-22 17:25] kogren161 commented on #93
Looks like I still have an issue.  Unless this is related to me trying to connect too much.

***@***.***:~ $ sudo apt upgrade
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages will be upgraded:
  locast2tuner
1 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
Need to get 3,928 kB of archives.
Afte

[2021-08-22 17:27] eiddor commented on #93
Looks like it's already running - `ps -ef | grep locast`

[2021-08-22 17:27] kogren161 commented on #93
After I saw your notes on the closed issue, I tried overriding the zip.
I got this result, which looked good.
***@***.***:~ $ /usr/bin/locast2tuner -c /etc/locast2tuner/config
config selected = /etc/locast2tuner/config
Aug 22 10:17:38.779 INFO locast2tuner 0.3.2 on Linux 5.10.52-v7l+ starting..
Aug 22 10:17:38.780 INFO UUID: 1ce0b99e-b5ea-4b19-9588-63a975d77d2b
Aug 22 10:17:38.781 INFO Logging in

[2021-08-22 17:39] kogren161 commented on #93
Found it and is working now, thanks again

[2021-08-23 03:27] wouterdebie commented on #92
Non issue.. and they are all on par now.. optimized and stripped.

[2021-08-23 03:28] #92 closed

[2021-08-23 18:27] CTJohnK commented on #88
With this configuration I can see ports 6080, 6081 and 6082.  In a browser I can enter 192.168.100.90:6080 and receive data back as well as using ports 6081 and 6082.  I can manually enter 192.168.100.90:6080 in PMS and it will pull back the tuner and allow me to setup that tuner for postal code 06810.
  ### Mandatory configuration
  username = "xxx"
  password = "xxx"
  ### Optional configuration

[2021-08-23 19:58] wouterdebie commented on #88
I'm not sure why Plex hangs if you have multiple tuners on different ports. Can you see anything on the `locast2tuner` side in the logs?

With multiplexing, you should provide the locast2tuner EPG instead of relying on the one from Plex. Have you gone through the quickstart guide at https://wouterdebie.github.io/locast2tuner/quickstart/plex.html?

Here you should click on "Have an XMLTV guide on y

[2021-08-24 23:51] CTJohnK commented on #88
I had read the article, but wanted to use the PMS guide.  I'll give it a shot this evening.

I was able to get a little further with the multiplex and remap set to 'true', but clicking on and off the channel mapping screen when I specified a second or third "Add channels from another lineup/location" entry.  Then it would show the matched channels  count rather than just zero.

However, after comp

[2021-08-25 16:32] wouterdebie commented on #88
I you use `multiplex=true`, the EPG that locast2tuner provides contains all the information for all the channels. Also, it will provide the lineup for all channels from all locations. If you use remap, the first station will be untouched and consecutive ones will get a rewritten channel number. All this rewriting is also done in the EPG and the lineup, so things should match.

[2021-08-25 16:51] jg-24 opened #94 "Login failed"
Been running on 0.1.53 (installed with brew running in terminal) since Aug 16, and this morning while streaming the locast login failed:
[code]

Upgraded to latest with same result:
[code]

**Steps To Reproduce**
1. Run application
2. See log output above

** Logs **
Inline above

** Configuration **
[code]

**Environment**
MacOS 11.5.2

[2021-08-25 16:53] wouterdebie commented on #94
Locast.org just started enforcing the captcha.. We'll have to look for ways to deal with this.

[2021-08-26 02:25] dwilson1251 opened #95 "Latest v0.3.6 will not start on aarch64 (Raspberry PI OS - Beta)"
Updated to latest on Raspian OS (armf/ buster) and the service will no longer start

I've tried all kinds of things:
- Basic apt update with no changes to the existing config file
- Updated to the new config.example format with creds, multi = true, remap = true, bind_address = 0.0.0.0
- Ditto, but cranked up the logging (doesn't seem to do much when the service isn't running (it's late and I'm duh

[2021-08-26 14:35] sanjay opened #97 "0.3.7 not working"
Just updated to 0.3.7 hoping it would fix the tuning issues but still no dice.  Running the provided Docker container on a Synology device and connected to Plex. Was working prior to the captcha changes on Locast's side and was working again last night on 0.3.6.

Log files provide no clues.  Ends with locast2tuner started... but nothing will tune.  Plex circles around and then times out trying to

[2021-08-26 15:28] #97 closed, assigned to nobody

[2021-08-26 16:58] tharris9d opened #98 "Windows 10 .3.8 new version issues."
Windows 10 Pro
Tried the downloaded Locast2Tuner.exe
Then download source and compiled to Locast2Tuner.exe with same error below.
Paid locast account.

1. ran this command line from a batch file which worked on previous versions before Locast login changes.
2. c:\code\locast2tuner\locast2tuner.exe -m -U email -P password--rust_backtrace --tuner_count 3 -z 91505,85006,10009 --remap
3.  Here is the

[2021-08-26 19:35] #98 closed, assigned to nobody

[2021-08-26 23:08] #95 closed, assigned to nobody

[2021-08-27 02:48] Cookie-Monster-Coder opened #99 "locast2tuner won't start and exits with an error (204 No Content)"
*NOTE THAT UNCLEAR BUG REPORTS (i.e. without the information requested below like logs, settings, versions, etc) MIGHT BE CLOSED WITHOUT ANY HELP!!*

Please check https://github.com/wouterdebie/locast2tuner/releases if any breaking changes have been made before filing a bug report.

**Describe the bug**
locast2tuner won't start and exits with an error.

**To Reproduce**
Steps to reproduce the beha

[2021-08-27 04:39] #99 closed, assigned to nobody

[2021-08-27 16:38] sumocomputers opened #100 "Login failed & 429 Too Many Requests trying to start Docker Container on 0.3.10"
All my Docker Containers kept restarting over and over with the previous version of locast2tuner (0.2.x?).

I updated to 0.3.10, and still keeps trying to restart.

I am on macOS 11.5.2 & Docker 20.10.8.

I use a config file and haven't adjusted it to use the new location features, but figured it would be backwards compatible.

**CONFIG FILE**
[code]

**CONSOLE ERROR**
[code]

[2021-08-28 17:53] #100 closed

[2021-08-28 21:33] wouterdebie opened #101 "Better error handling"
There are a few places where locast2tuner explicitly panics, but this means that the error messages are kind of bad. Similarly, there are places where `unwrap` is used, which could cause a panic. These cases should be nicely handled and errors should be logged as `error!()` and lead to a proper exit code.

[2021-08-29 16:46] wouterdebie commented on #71
Closing this issue, because there has been no response

[2021-08-29 16:46] #71 closed

[2021-09-02 12:58] fkick opened #102 "Removing Donation Check"
With Locast no longer requiring donations, can the account donation check be removed?

[2021-09-02 13:39] johnluber commented on #102
Locust just announced they've suspended operations.  Not sure removing the donation check matters much at this point.

[2021-09-02 13:59] wouterdebie commented on #102
Yeah. It might take a bit of time, since I'm out of power because of
hurricane Ida.

On Thu, Sep 2, 2021, 08:39 johnluber ***@***.***> wrote:

[2021-09-02 14:06] mbtfeedback opened #103 "Locast is suspending operations effective immediately."
Couldn't find a better place to post this, but due to a lawsuit, they're done. They sent out an email this morning and there is a message on their website.

[2021-09-02 14:09] Thunder7ga commented on #103
Just saw this too...dang.  This sucks.

[2021-09-02 15:01] Croq360 commented on #103
Yeah, interesting how they have done this so quickly.  I thought there was still a trial coming up (which they were trying to avoid by asking for summary judgment in their favor).  I hope they figure out a way to restore it.

[2021-09-02 15:09] rtm2017 commented on #103
Now to look for alternatives, so far I haven't been very successful with anything other than pirated IPTV providers. Thanks for providing this tool though, it was glorious.

[2021-09-02 15:43] nate602271 commented on #103
The best part was you can record and keep the files. Heck, I had all sorts of TV shows being recorded. Sad to see it go so soon. Just subscribed on the 28th of August.

[2021-09-02 15:49] tharris9d opened #104 "Switching from Locast to Pluto"
I know that Pluto doesn't have local channels except for CNN in a few big cities but there is some amazing content that could be recorded through Plex or Emby.  Your Rust version was the best out of Locast2Plex and FHDHR. FHDHR has Pluto code and there is another Pluto Git repository with the APIs

Thanks for what you accomplished. I am glad I was able to help out the kids as a sponsor.
Best
Tom

[2021-09-02 16:09] wouterdebie commented on #104
First of all, thank you for your kind words and donation! I could probably
add this support and keep the project alive. It'll take some time though,
since I'm based in New Orleans and we're still out of power from the
hurricane.

On Thu, Sep 2, 2021, 10:50 Tom Harris ***@***.***> wrote:

[2021-09-02 16:17] extrapc opened #105 "Any thought of adding localbtv.com"
Since Locast is gone now, any thought of adding localbtv?

[2021-09-02 16:20] wouterdebie commented on #103
Thank you all for the support! What started as a simple python script for myself to watch the New Orleans Saints in Sundays, grew to become a Rust project with a complete CI/CD pipeline, builds for multiple operating systems and architectures and an actual community of people. In the process I've learned a new program language, learned a lot about Docker and GitHub actions and met some really awes

[2021-09-02 16:47] Thunder7ga commented on #103
Other services would be awesome.  Thank you for all you have done in developing this tool, it's been extremely valuable to my family.

[2021-09-02 19:12] classicjazz opened #106 "Please consider adding TV Everywhere support"
You have put a lot of effort into an excellent software solution that, it seems, could be easily repurposed for other video service providers.

Please consider adding TV Everywhere support. This would, in turn, allow users to have a single whole home DVR solution (e.g. JellyFin, Plex) for all channels to which they subscribe.

Note: in addition to cable operator subscriptions, it's possible to sub

[2021-09-02 20:01] sumocomputers commented on #103
We live in the mountains where OTA reception is impossible. My wife likes Jeopardy and I am cheap, so Locast (and of course locast2tuner) was a great solution. It was good while it lasted. Now on to find the cheapest way to watch Jeopardy in the US...

[2021-09-03 00:34] okc commented on #106
+1.  Although more costly than the $5 tribute to Locast, TVE with streaming services is less expensive than cable or full-boat services such as YouTubeTV or "DirectStream".  The major benefit with Locast2tuner + jellyfin, jellyfin provided a DVR which allowed time shifting and ad skipping which were not available in Locast (or in Pluto).

[2021-09-03 00:55] okc commented on #104
https://github.com/evoactivity/PlutoIPTV   Much cruder than locast2tuner, but seems to get the job done.  I was thinking about wrapping it in a script and making it into a service that runs every few hours, but Jellyfin seems to choke processing the full-size epg file...

Hope you get your power back soon; we got 6" of rain here in New England, on top of having the second-rainiest and hotest Augus

[2021-09-03 02:28] okc commented on #103
Interesting that you mention Jeopardy!  Jeopardy is apparently produced by Sony and distributed by CBS, but it is syndicated.  In my area it is on the CBS O/O station, so I can watch it live on the CBS app, but there is no way to watch it on demand, there is no way to watch prior seasons, etc.

[2021-09-03 02:40] okc commented on #102
Not that it matters for now, but "disable_donation_check = true" in the config file.

[2021-09-03 02:53] Croq360 commented on #105
That looks kind of cool - sort of a "all channels except the major networks" option.

[2021-09-04 00:16] #102 closed

[2021-09-04 19:49] wvdude opened #107 "Any way to allow connection after locast shutdown so we can remove the DVR from Plex?"
After Locast shut down, my locast2tuner docker will not run. I beleive it may be because it cannot login to locast. In plex when I click on settings for Live TV & DVR, I get "There was an unexpected error". That's it. I cannot do anything right now with that feature of plex. Is there a known fix for this? I am trying to use xTeVe. Thank you.

[2021-09-04 19:52] eiddor commented on #107
Even with the container shutdown, you should be able to delete it.  When I go to Settings | Live TV & DVR (under Manage), I see this and can delete the tuner.

![image](https://user-images.githubusercontent.com/7586731/132106447-49d0b21e-0478-4bd1-ae3e-2ff08d79a59d.png)

[2021-09-04 20:01] wvdude commented on #107
Thank you - I suppose it is a different problem then. I still just get an
error with no information. I appreciate your help.

On Sat, Sep 4, 2021 at 3:53 PM Roddie Hasan ***@***.***>
wrote:

[2021-09-04 20:01] eiddor commented on #107
Yeah, Plex seems to be unhappy - I'd try restarting the server and then checking.

[2021-09-05 11:51] rtm2017 commented on #107
@wvdude, I just had a similar problem. Logging into my server remotely through the Plex website resulted in an error and unable to do anything on the live TV settings page, Once I logged into my Plex server locally using it's ip address the page worked correctly and i was able to delete the DVR.

[2021-09-21 02:38] TheSamDickey opened #108 "RIP Locast; thank you for your effort!"
It's really annoying that Locast went out like that... But I just wanted to say I really appreciated your effort on this project!  It was great to use and my family used it on the daily.

Hopefully something similar comes out in the future!  I know a lot of people relied on Locast since it was so inexpensive.

But anyways, thank you.

[2021-12-20 01:11] jonfive commented on #108
TOTALLY. loved this, so much work done and very appreciated :)

looks like there's something on the horizon> https://www.localbtv.com/ -- _far_ less markets available, but seems to be doing something

[2022-01-25 11:16] jamesmalachyryan commented on #107
I have the same problem.  Just happen when I started working with xTeVe.  It seems the combination of locast shutting down and using eTeVe create the issue.  Any solutions?